$font-default: 'Ubuntu', sans-serif;
$font2: 'Play', sans-serif;

@mixin perspective($perspective) {
  -webkit-perspective: $perspective;
  -moz-perspective: $perspective;
  perspective: $perspective;
  }

@mixin animation($value) {
  -webkit-animation: $value;
  -moz-animation: $value;
  animation: $value !important;
  }

@mixin appearence($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value !important;
  }

@mixin backface-visibility($value) {
  -webkit-backface-visibility: $value;
  -moz-backface-visibility: $value;
  backface-visibility: $value;
  }

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  }

@mixin opacity($value) {
  $IEValue: $value*100;
  opacity: $value;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+$IEValue+")";
  filter: alpha(opacity=$IEValue);
  }

@mixin box-sizing($value) {
  -webkit-box-sizing: $value;
  -moz-box-sizing: $value;
  box-sizing: $value;
  }

@mixin box-shadow($value) {
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
  }

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -ms-transition: $value;
  -o-transition: $value;
  transition: $value;
  }

@mixin transform-style($value) {
  -webkit-transform-style: $value;
  -moz-transform-style: $value;
  transform-style: $value;
  }

@mixin transform-origin($value) {
  -webkit-transform-origin: $value;
  -moz-transform-origin: $value;
  transform-origin: $value;
  }

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
  }

@mixin background-size($value) {
  -webkit-background-size: $value;
  -moz-background-size: $value;
  -ms-background-size: $value;
  -o-background-size: $value;
  background-size: $value;
  }

@mixin alpha-background-color($color, $background) {
  $percent: alpha($color) * 100%;
  $opaque: opacify($color, 1);
  $solid-color: mix($opaque, $background, $percent);
  background-color: $solid-color;
  background-color: $color;
  }

@mixin placeholder() {
  &::-webkit-input-placeholder {
    @content;
    }
  &:-moz-placeholder {
    @content;
    }
  &::-moz-placeholder {
    @content;
    }
  &:-ms-input-placeholder {
    @content;
    }
  }

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
    }
  &:after {
    clear: both;
    }
  }

.clearfix {
  @extend %clearfix;
  }

.button {
  @include alpha-background-color(rgba(#fff, 0.5), #fff);
  }

.img-relative {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 0;
  }

.img-absolute {
  position: absolute;
  max-width: none;
  max-height: none;
  border: 0;
  }

@mixin background-gradient($start-color, $end-color) {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$end-color}', endColorstr='#{$start-color}', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, $end-color), color-stop(100%, $start-color));
  background-image: -webkit-linear-gradient(bottom, $start-color 0%, $end-color 100%);
  background-image: -moz-linear-gradient(bottom, $start-color 0%, $end-color 100%);
  background-image: -o-linear-gradient(bottom, $start-color 0%, $end-color 100%);
  background-image: -ms-linear-gradient(bottom, $start-color 0%, #02050a 100%);
  background-image: linear-gradient(bottom, $start-color 0%, $end-color 100%);
  }

@mixin background-gradient-horizontal($start-color, $end-color) {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$end-color}', endColorstr='#{$start-color}', GradientType=1);
  background-image: -webkit-linear-gradient(left, $start-color 0%, $end-color 100%);
  background-image: -moz-linear-gradient(left, $start-color 0%, $end-color 100%);
  background-image: -o-linear-gradient(left, $start-color 0%, $end-color 100%);
  background-image: -ms-linear-gradient(to right, $start-color 0%, #02050a 100%);
  background-image: linear-gradient(to right, $start-color 0%, $end-color 100%);
  }

@mixin user-select($value) {
  -webkit-user-select: $value;
  -khtml-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  -o-user-select: $value;
  user-select: $value;
  }