@import url(//fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic&subset=latin,cyrillic);
@import url(//fonts.googleapis.com/css?family=Open+Sans&subset=all);
@import "functions";

article, aside, figcaption, figure, footer, header, nav, section, time {
  display: block;
}

textarea, input, select {
  padding: 0;
  outline: 0;

  &:focus {
    outline: 0;
  }
}

table, tbody, th, td, div, a, span {
  @include box-sizing(content-box);
}

label {
  display: inline;
}

body {
  margin: 0;
  padding: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  min-height: 768px;
  min-width: 780px;
  font-family: $font-default;
  font-weight: normal;
  font-style: normal;
}

a {
  color: #265980;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

#container {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

header#page_header {
  position: relative;
  float: left;
  clear: both;
  min-width: 100%;
  height: 83px;
  z-index: 3;
}

#page_overheader {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5px;
  background: url(/img/fon_header.png) 0 0 repeat-x;
}

#page_logo {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 78px;
  @include background-gradient(#061528, #02050a);
}

#logo_text {
  position: relative;
  float: left;
  clear: both;
  display: table;
  width: 70%;
  height: 78px;
  margin: 0 0 0 18px;
  padding: 0;
  font-size: 22px;
  line-height: 22px;
  color: #ecf4ff;

  span {
    display: table-cell;
    vertical-align: middle;
    text-align: left;

    a {
      text-decoration: none;
      color: #ecf4ff;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

#logo_cms {
  display: inline !important;
  font-size: 18px;
  vertical-align: 0 !important;
  color: #c4d3e6;
}

#logo_foto {
  position: relative;
  float: right;
  clear: none;
  margin: 26px 23px 0 0;
  padding: 0;
  width: 229px;
  height: 26px;
  background: url(/img/logo.png) 0 0 no-repeat;

  &:hover {
    background: url(/img/logo_hover.png) 0 0 no-repeat;
  }
}

#page_header_right {
  position: relative;
  float: right;
  clear: none;
  margin: 30px 21px 0 0;
}

#people {
  position: relative;
  float: left;
  clear: both;
  font: 24px/24px 'Play', sans-serif;
  color: #fff;

  span {
    padding: 0 15px 0 0;
    vertical-align: 2px;
    font-size: 16px;
    color: #cbd7f4
  }
}

#header_stripe {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 23px;
  width: 2px;
  height: 29px;
  background: #aeb4c7;
}

#logout {
  display: block;
  position: relative;
  float: right;
  clear: none;
  margin: 3px 0 0 22px;
  font: 18px/18px 'Play', sans-serif;
  text-decoration: underline;
  text-align: right;
  color: #cbd7f4;

  &:hover {
    text-decoration: none;
  }
}

aside#page_aside {
  display: table-cell;
  vertical-align: top;
  margin: 0 0 0;
  padding: 0;
  width: 225px;
}

#aside {
  position: relative;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  padding: 0;
}

.menu {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 225px;
}

.menu, .submenu {
  @include user-select(none);
}

.menu_stripe {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 1px;
  background: #153257;
}

.menu_content {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  min-height: 42px;
  background: transparent;

  &:hover, &.hover {
    background: #e02222;
  }
}

.menu_icon {
  position: relative;
  float: left;
  clear: both;
  margin: 0 0 0 19px;
  padding: 0;
  width: 15px;
  height: 42px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

#menu_main {
  background-image: url(/img/menu_main.png);
}

#menu_pages {
  background-image: url(/img/menu_pages.png);
}

#menu_slider {
  background-image: url(/img/menu_pages.png);
}

#menu_portfolio {
  background-image: url(/img/menu_portfolio.png);
}

#menu_news {
  background-image: url(/img/menu_news.png);
}

#menu_actions {
  background-image: url(/img/menu_actions.png);
}

#menu_settings {
  background-image: url(/img/menu_settings.png);
}

#menu_gallery {
  background-image: url(/img/menu_gallery.png);
}

#menu_lists {
  background-image: url(/img/menu_lists.png);
}

#menu_exit {
  background-image: url(/img/menu_exit.png);
}

.menu_active {
  background: url(/img/menu_active.png) right center no-repeat;
}

.menu_open {
  background: url(/img/menu_open.png) 160px center no-repeat;
}

.menu_close {
  background: url(/img/menu_close.png) 165px center no-repeat;
}

.menu_title {
  display: table;
  position: relative;
  float: right;
  clear: none;
  padding: 5px 15px 5px 0;
  width: 180px;
  height: 42px;
  @include box-sizing(border-box);

  span {
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    display: table-cell;
    cursor: pointer;
  }

  a {
    text-decoration: none !important;
    color: #fff !important;

    &:hover, &.hover {
      text-decoration: none !important;
    }
  }
}

.submenu {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 225px;
  display: none;
}

.submenu_stripe {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 225px;
  height: 1px;
  background: #153257;
}

.submenu_content {
  position: relative;
  float: left;
  clear: both;
  margin: 3px 0 13px 0;
  padding: 0;
  width: 225px;
}

.submenu_title {
  position: relative;
  float: left;
  clear: both;
  margin: 6px 0 0 33px;
  padding: 0;
  width: 192px;
  text-align: left;
  font-size: 14px;
  line-height: 14px;
  color: #bdd9fc;

  a {
    text-decoration: underline !important;
    color: #bdd9fc !important;

    &:hover {
      text-decoration: none !important;
      color: #fff !important;
    }
    &.hover {
      text-decoration: none !important;
      color: #f8ffda !important;
    }
  }
}

#page_section {
  display: table-cell;
  vertical-align: top;
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  min-height: 685px;
  width: 100%;
  height: 100%;
  background: #fff;

  > div {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    min-height: 100%;
    overflow-x: auto;
  }

  footer {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background: url(/img/fon_header.png) 0 0 repeat-x;
  }
}

#section {
  position: relative;
  clear: both;
  margin: 0 0 20px 0;
  padding: 16px 20px 20px 20px;
  min-height: 649px;
  background: #fff;

  header {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
  }

  article {
    position: relative;
    float: left;
    clear: both;
    margin: 20px 0 97px 0;
    padding: 0;
    width: 100%;
  }
}

#section_header {
  display: table;
  width: 100%;
}

#section_title {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  min-width: 495px;
  height: 24px;
  overflow: hidden;
  font-size: 24px;
  line-height: 24px;
  color: #105bc3;

  ul.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
    @include border-radius(0);

    > li + li:before {
      color: #105bc3;
    }
  }

  .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    @include border-radius(4px);

    > li {
      display: inline;

      + li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0";
      }
    }

    > .active {
      color: #777;
    }
  }

  span {
    font-size: 16px;
    line-height: 16px;
    color: #000;
  }

  a {
    text-decoration: none;
    color: #105bc3;

    &:hover {
      text-decoration: none;
    }
  }
}

#section_url {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.section_button {
  display: block;
  float: right;
  clear: both;
}

.section_submit {
  display: block;
  float: left;
  clear: both;
  margin-top: 10px;
}

.sectiontable {
  position: relative;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
  z-index: 1;

  .pagination {
    display: block;
    position: relative;
    float: left;
    clear: both;
    margin: 0 0 15px 0;
  }

  .summary {
    display: block;
    position: relative;
    float: right;
    clear: none;
    margin: 7px 0 15px 15px;
  }
}

.kartiktable {
  position: relative;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
  z-index: 1;

  .pagination {
    display: block;
    position: relative;
    float: left;
    clear: both;
    margin: 0 0 15px 0;
  }

  .summary {
    display: block;
    position: relative;
    float: left;
    clear: both;
    margin: 7px 0 15px 15px;
  }

  .kv-grid-container {
    width: 100%;
  }
}

.kartik_table.table {
  margin: 0 0 15px 0;
  width: 100%;
  border: 3px #e5e5e5 solid;
  padding: 0;
  border-spacing: 0;
  border-collapse: separate;
  @include box-sizing(border-box);

  th {
    vertical-align: middle;
    text-align: left;
    height: 44px;
    background: #959da6;
    border-right: 1px #e5e5e5 solid;
    padding: 0 20px 0 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #fff;

    &.middle_th {
      text-align: center;
    }

    &.small_th a {
      width: 50px;
    }

    &.last_th {
      padding: 0 15px 0 15px;
    }

    a {
      display: block;
      position: relative;
      text-decoration: none !important;
      color: #fff;

      &:hover {
        text-decoration: none !important;
      }

      &.asc {
        color: #0000ff !important;

        &:after {
          background: url(/img/sort_asc.png) 0 0 no-repeat;
        }

      }

      &.desc {
        color: #0000ff !important;

        &:after {
          background: url(/img/sort_desc.png) 0 0 no-repeat;
        }
      }

      &:after {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -14px;
        margin-top: -7px;
        width: 8px;
        height: 15px;
        content: " ";
        background: url(/img/sort.png) 0 0 no-repeat;
      }
    }

    div {
      &.div_th {
        position: relative;
        float: none;
        clear: both;
        margin: 0;
        padding: 0;
      }
      &.title_th {
        position: relative;
        float: none;
        clear: both;
        margin: 0;
        padding: 0;

        a {
          text-decoration: none !important;
          color: #fff !important;

          &:hover {
            text-decoration: none !important;
          }
        }
      }
      &.sort_th {
        position: absolute;
        right: 8px;
        top: 0;
        margin: 0;
        padding: 0;
        width: 8px;
        height: 15px;
        background: url(/img/sort.png) 0 0 no-repeat;
      }

      &.sort_asc {
        position: absolute;
        right: 8px;
        top: 0;
        margin: 0;
        padding: 0;
        width: 8px;
        height: 15px;
        background: url(/img/sort_asc.png) 0 0 no-repeat;
      }

      &.sort_desc {
        position: absolute;
        right: 8px;
        top: 0;
        margin: 0;
        padding: 0;
        width: 8px;
        height: 15px;
        background: url(/img/sort_desc.png) 0 0 no-repeat;
      }
    }
  }

  td {
    position: relative;
    vertical-align: middle;
    text-align: left;
    height: 34px;
    background: #fff;
    border-right: 1px #e5e5e5 solid;
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    line-height: 17px;
    color: #060707;

    &.last_td {
      padding: 8px 10px 8px 10px;
    }

    &:not(.last_td) a {
      text-decoration: none !important;
      color: #105bc3 !important;

      &:hover {
        text-decoration: none !important;
      }
    }

    &.email_td {
      a {
        display: block;
        position: relative;
        white-space: nowrap;
        width: 150px;
        height: 17px;
        overflow: hidden;
      }

      span {
        display: block;
        position: absolute;
        content: "";
        width: 31px;
        height: 100%;
        right: 0;
        bottom: 0;
      }
    }

    &.common_td {
      background: #c0daff;
      border: 0;
    }

    &.middle_td {
      padding: 8px 12px 8px 12px;
      text-align: center;
    }

    &.right_td {
      text-align: right;
    }

    &.foto_td {
      width: 120px;
      padding: 4px 2px 4px 2px;
      text-align: center;

      img {
        width: 86px;
        height: 46px;
        border: 0;
      }
    }

    &.document_td {
      padding: 4px 2px 4px 2px;
      text-align: center;

      img {
        width: 46px;
        height: 46px;
        border: 0;
      }

    }

    input.form-control {
      padding: 0 4px 0 4px;
      @include box-sizing(border-box);
    }

    select {
      @include box-sizing(border-box);
    }

    .view_div {
      position: relative;
      float: left;
      clear: both;
      margin: 0;
      padding: 0;
      border: 0;
      width: 100%;
      line-height: 24px;
      height: 24px;
      overflow: hidden;
    }

    .content_div {
      position: relative;
      float: left;
      clear: both;
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      width: 100%;
      height: 34px;
      text-overflow: ellipsis;

      span {
        display: table;
        height: 34px;

        div {
          display: table-cell;
          vertical-align: middle;
          text-align: justify;
          line-height: 17px;
        }
      }
    }

    .edit_div {
      position: relative;
      float: left;
      clear: both;
      border: 1px #e5e5e5 solid;
      background: #fff;
      width: 100%;
      height: 32px;

      input {
        width: 100%;
        height: 100%;
        border: 0;
        padding: 0 5px 0 5px;
        @include box-sizing(border-box);
        text-align: center;
        outline: 0;

        &:disabled {
          cursor: default;
        }
      }

      &:hover {
        border: 1px #000 solid;
      }
    }
  }

  tr {
    &.odd_tr:not(.danger) {
      td {
        background: #f5f5f5;
      }

      .email_td span {
        @include background-gradient-horizontal(rgba(245, 245, 245, 0), rgba(245, 245, 245, 1));
      }
    }

    &:not(.odd_tr) {
      .email_td span {
        @include background-gradient-horizontal(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      }
    }
  }

}

.section_table {
  margin: 0 0 15px 0;
  width: 100%;
  border: 3px #e5e5e5 solid;
  padding: 0;
  border-spacing: 0;
  border-collapse: separate;

  th {
    vertical-align: middle;
    text-align: left;
    height: 44px;
    background: #959da6;
    border-right: 1px #e5e5e5 solid;
    padding: 0 20px 0 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #fff;

    &.middle_th {
      text-align: center;
    }

    &.small_th a {
      width: 50px;
    }

    &.last_th {
      padding: 0 15px 0 15px;
    }

    &.last_td {
      border: 0;
    }

    a {
      display: block;
      position: relative;
      text-decoration: none !important;
      color: #fff;

      &:hover {
        text-decoration: none !important;
      }

      &.asc {
        color: #0000ff !important;

        &:after {
          background: url(/img/sort_asc.png) 0 0 no-repeat;
        }

      }

      &.desc {
        color: #0000ff !important;

        &:after {
          background: url(/img/sort_desc.png) 0 0 no-repeat;
        }
      }

      &:after {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -14px;
        margin-top: -7px;
        width: 8px;
        height: 15px;
        content: " ";
        background: url(/img/sort.png) 0 0 no-repeat;
      }
    }

    div {
      &.div_th {
        position: relative;
        float: none;
        clear: both;
        margin: 0;
        padding: 0;
      }
      &.title_th {
        position: relative;
        float: none;
        clear: both;
        margin: 0;
        padding: 0;

        a {
          text-decoration: none !important;
          color: #fff !important;

          &:hover {
            text-decoration: none !important;
          }
        }
      }
      &.sort_th {
        position: absolute;
        right: 8px;
        top: 0;
        margin: 0;
        padding: 0;
        width: 8px;
        height: 15px;
        background: url(/img/sort.png) 0 0 no-repeat;
      }

      &.sort_asc {
        position: absolute;
        right: 8px;
        top: 0;
        margin: 0;
        padding: 0;
        width: 8px;
        height: 15px;
        background: url(/img/sort_asc.png) 0 0 no-repeat;
      }

      &.sort_desc {
        position: absolute;
        right: 8px;
        top: 0;
        margin: 0;
        padding: 0;
        width: 8px;
        height: 15px;
        background: url(/img/sort_desc.png) 0 0 no-repeat;
      }
    }
  }

  td {
    position: relative;
    vertical-align: middle;
    text-align: left;
    height: 34px;
    background: #fff;
    border-right: 1px #e5e5e5 solid;
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    line-height: 17px;
    color: #060707;

    &.last_td {
      padding: 8px 10px 8px 10px;
      border: 0;
    }

    &:not(.last_td) a {
      text-decoration: none !important;
      color: #105bc3 !important;

      &:hover {
        text-decoration: none !important;
      }
    }

    &.email_td {
      a {
        display: block;
        position: relative;
        white-space: nowrap;
        width: 150px;
        height: 17px;
        overflow: hidden;
      }

      span {
        display: block;
        position: absolute;
        content: "";
        width: 31px;
        height: 100%;
        right: 0;
        bottom: 0;
      }
    }

    &.common_td {
      background: #c0daff;
      border: 0;
    }

    &.middle_td {
      padding: 8px 12px 8px 12px;
      text-align: center;
    }

    &.right_td {
      text-align: right;
    }

    &.foto_td {
      padding: 4px 2px 4px 2px;
      text-align: center;

      img {
        width: 86px;
        height: 46px;
        border: 0;
      }
    }

    &.document_td {
      padding: 4px 2px 4px 2px;
      text-align: center;

      img {
        width: 46px;
        height: 46px;
        border: 0;
      }

    }

    input.form-control {
      padding: 0 4px 0 4px;
      @include box-sizing(border-box);
    }

    select {
      @include box-sizing(border-box);
    }

    .view_div {
      position: relative;
      float: left;
      clear: both;
      margin: 0;
      padding: 0;
      border: 0;
      width: 100%;
      line-height: 24px;
      height: 24px;
      overflow: hidden;
    }

    .content_div {
      position: relative;
      float: left;
      clear: both;
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      width: 100%;
      height: 34px;
      text-overflow: ellipsis;

      span {
        display: table;
        height: 34px;

        div {
          display: table-cell;
          vertical-align: middle;
          text-align: justify;
          line-height: 17px;
        }
      }
    }

    .edit_div {
      position: relative;
      float: left;
      clear: both;
      border: 1px #e5e5e5 solid;
      background: #fff;
      width: 100%;
      height: 32px;
      display: none;

      input {
        width: 100%;
        height: 100%;
        border: 0;
        padding: 0 5px 0 5px;
        @include box-sizing(border-box);
        outline: 0;

        &:disabled {
          cursor: default;
        }
      }

      &:hover {
        border: 1px #000 solid;
      }
    }
  }

  tr {
    &.odd_tr:not(.danger) {
      td {
        background: #f5f5f5;
      }

      .email_td span {
        @include background-gradient-horizontal(rgba(245, 245, 245, 0), rgba(245, 245, 245, 1));
      }
    }

    &:not(.odd_tr) {
      .email_td span {
        @include background-gradient-horizontal(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      }
    }
  }

}

.functions_td {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
}

.public_td {
  display: table;
  position: relative;
  float: none;
  clear: both;
  margin: 0 auto 0;
  padding: 0;
}

.fastedit_td {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 18px;
  color: #265980;
  cursor: pointer;
}

.fastcancel_td {
  display: none;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 5px;
  padding: 0;
  width: 20px;
  height: 18px;
  color: #265980;
  cursor: pointer;
}

.fastsave_td {
  display: none;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 5px;
  padding: 0;
  width: 20px;
  height: 18px;
  color: #265980;
  cursor: pointer;
}

.sort_value {
  position: relative;
  float: none;
  clear: both;
  margin: 0 auto 0;
}

.sort_actions {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 15px;
  height: 34px;
  margin: -17px 0 0 0;
}

.sort_up {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  text-decoration: none;
  cursor: pointer;
}

.sort_down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 15px;
  text-decoration: none;
  cursor: pointer;
}

.add_td {
  position: relative;
  float: left;
  clear: none;
  margin: -2px 0 0 28px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer;
}

.icon_td {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  padding: 0;
  width: 20px;
  height: 18px;
  text-decoration: none;
  cursor: pointer;
}

.edit_td {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  padding: 0;
  width: 20px;
  height: 18px;
  text-decoration: none;
  cursor: pointer;
}

.submit_td {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 6px;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/img/submit.png) 0 0 no-repeat;
  text-decoration: none;
  cursor: pointer;
}

.cancel_td {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 6px;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/img/cancel.png) 0 0 no-repeat;
  text-decoration: none;
  cursor: pointer;
}

.delete_td {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  padding: 0;
  width: 15px;
  height: 18px;
  text-decoration: none;
  cursor: pointer;
}

.view_td {
  position: relative;
  float: left;
  clear: none;
  padding: 0;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
}

.catalog_td {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: -1px 0 0 6px;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/img/catalog.jpg) 0 0 no-repeat;
  text-decoration: none;
  cursor: pointer;
}

#status {
  display: none;
}

.section_stripe {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #b1d2ff;
}

.section_info {
  position: relative;
  float: left;
  clear: both;
  margin: -4px 0 0 0;
  padding: 0;
  width: 100%;
}

.section_title {
  position: relative;
  float: left;
  clear: both;
  margin: 18px 0 0 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: #09090a;

  label {
    font-weight: normal;
  }
}

.section_block .section_title {
  min-width: 0;
}

.section_input {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%;

  > span {
    display: block;
    position: relative;
    margin: 10px 0 0 0;
    float: left;
    clear: both;
    font-size: 14px;
    color: #ff0000;
  }
}

.section_block .section_input {
  width: 100%;
  min-width: 0;
}

.section_input input {
  display: block;
  width: 100%;
  height: 31px;
  border: 1px #e5e5e5 solid;
  padding: 0 3px 0 3px;
  background: #fff;
  font-size: 14px;
  color: #36557e;
  @include box-sizing(border-box);

  @include placeholder() {
    font-style: italic;
    font-size: 14px;
    color: #cccccc;
  }

  &:focus {
    border: 1px #0000ff solid;
  }
}

.section_input textarea {
  margin: 0;
  padding: 6px 3px 6px 3px;
  height: 80px;
  width: 511px;
  @include box-sizing(border-box);
  border: 1px #e5e5e5 solid;
  font: 14px $font-default;
  color: #36557e;
  resize: none;

  @include placeholder() {
    font-style: italic;
    font-size: 14px;
    color: #cccccc;
  }
}

.section_block .section_input textarea {
  width: 100%;
  @include box-sizing(border-box);
}

.section_radio {
  position: relative;
  float: left;
  clear: both;
  margin: 12px 0 0 2px;
  padding: 0;
  width: 100%;

  input[type=radio] {
    display: none;

    + label {
      background: url(/img/radio.png) 0 1px no-repeat;
    }

    &:checked + label {
      background: url(/img/radio_checked.png) 0 1px no-repeat;
    }

  }

  label {
    color: #36557e;
    font-weight: 400;
    padding: 0 0 0 25px;
  }
}

.section_viewbox {
  position: relative;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  width: 100%;
}

.section_view {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 0;

  > div {
    display: table-row;

    > span {
      display: table-cell;
      vertical-align: top;
      padding: 10px 5px 10px 5px;
      border: 1px solid #ddd;
      font-size: 18px;
      line-height: 18px;
      color: #000;

      &:nth-of-type(1) {
        text-align: right;
        padding-right: 5px;
        font-weight: 500;
        width: 30%;
      }

      &:nth-of-type(2) {
        text-align: left;
        padding-left: 10px;
        width: 70%;
      }
    }

    &:nth-of-type(odd) > span {
      background: #f5f5f5;
    }

  }
}

.section_printbox {
  position: relative;
  float: left;
  clear: both;
}

.section_print {
  display: table;
  position: relative;
  float: left;
  clear: both;
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 0;

  > div {
    display: table-row;

    > span {
      display: table-cell;
      vertical-align: top;
      text-align: center;
      border: 1px solid #ddd;
      font-size: 18px;
      line-height: 18px;
    }

    &:nth-of-type(1) > span {
      padding: 10px 5px 10px 5px;
      background: #40546a;
      color: #fff;
    }

    &:nth-of-type(n+2) > span {
      padding: 10px 5px 10px 5px;
      background: #f5f5f5;
      color: #000;
    }

    &:nth-of-type(2n+2) > span {
      background: #fff;
    }

    &:nth-of-type(2n+3) > span {
      background: #f5f5f5;
    }
  }
}

#section_print {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 25px;
  font-size: 3em;
  text-decoration: none;
  cursor: pointer;
}

#section_excel {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 25px;
  font-size: 3em;
  /*background: url(/img/excel.png) 0 0 no-repeat;*/
  text-decoration: none;
  cursor: pointer;
}

a.add-user {
  display: block;
  float: left;
  clear: both;
  font-size: 3em;
}

#section_block1 {
  display: none;
  position: relative;
  float: left;
  clear: both;
  margin: 8px 0 0 0;
  padding: 0;
  width: 100%;
}

#section_block2 {
  display: none;
  position: relative;
  float: left;
  clear: both;
  margin: 8px 0 0 0;
  padding: 0;
  width: 100%;
}

.section_stripe2 {
  position: relative;
  float: left;
  clear: both;
  margin: 24px 0 0 0;
  padding: 0;
  width: 100%;
  height: 2px;
  background: #b1d2ff;
}

.section_submit {
  margin: 17px 0 0 0;
}

.section_duplicate {
  margin: 17px 0 0 10px;
}

.section_pg {
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 0 0;
  padding: 0;
  width: 100%;
}

#section_pg {
  position: relative;
  float: right;
  clear: both;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
}

#section_actions {
  display: none;
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 0 0;
  padding: 0;
  width: 100%;

  #section_set_value.active + #section_set_input {
    display: table;
  }

  #section_set_input.input-group {
    display: none;
    margin-top: -7px;
    margin-right: 20px;
    width: 300px;
  }
}

#section_delete_all {
  position: relative;
  float: right;
  clear: both;
  margin: 0;
  padding: 0;
  text-align: right;
  text-decoration: underline;
  font-family: $font-default;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: #e01111;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

#section_set_value {
  position: relative;
  float: right;
  clear: none;
  margin: 0 20px 0 0;
  padding: 0;
  text-align: right;
  text-decoration: underline;
  font-family: $font-default;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: #e01111;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

#section_set_value {
  position: relative;
  float: right;
  clear: none;
  margin: 0 20px 0 0;
  padding: 0;
  text-align: right;
  text-decoration: underline;
  font: 14px/14px $font-default;
  color: #e01111;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.pg_prev_on {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 30px;
  border: 1px #dddddd solid;
  background: #ffffff;
  font-size: 14px;
  line-height: 14px;
  color: #428bca;
  text-decoration: none;
  text-align: center;

  &:hover {
    background: #eeeeee;
  }

  span {
    display: block;
    padding: 8px 0 0 0;
  }
}

.pg_prev_off {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 30px;
  border: 1px #dddddd solid;
  background: #ffffff;
  font-size: 14px;
  line-height: 14px;
  color: #999;
  text-align: center;
  cursor: not-allowed;

  span {
    display: block;
    padding: 8px 0 0 0;
  }
}

.cur_pg {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 -1px;
  width: 30px;
  height: 30px;
  border: 1px #dddddd solid;
  background: #eeeeee;
  font-size: 13px;
  line-height: 13px;
  color: #999;
  text-align: center;

  span {
    display: block;
    padding: 9px 0 0 0;
  }
}

.nocur_pg {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 -1px;
  width: 30px;
  height: 30px;
  border: 1px #dddddd solid;
  background: #ffffff;
  font-size: 13px;
  line-height: 13px;
  color: #428bca;
  text-decoration: none;
  text-align: center;

  &:hover {
    background: #eeeeee;
  }

  span {
    display: block;
    padding: 9px 0 0 0;
  }
}

.pg_next_on {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 -1px;
  padding: 0;
  width: 40px;
  height: 30px;
  border: 1px #dddddd solid;
  background: #ffffff;
  font-size: 14px;
  line-height: 14px;
  color: #428bca;
  text-decoration: none;
  text-align: center;

  &:hover {
    background: #eeeeee;
  }

  span {
    display: block;
    padding: 8px 0 0 0;
  }
}

.pg_next_off {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 -1px;
  padding: 0;
  width: 40px;
  height: 30px;
  border: 1px #dddddd solid;
  background: #ffffff;
  font-size: 14px;
  line-height: 14px;
  color: #999;
  text-align: center;
  cursor: not-allowed;

  span {
    display: block;
    padding: 8px 0 0 0;
  }
}

#bottom {
  display: table;
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 685px;
  background: #061528;
}

.email_listbox {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
}

.email_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%;
}

.email_input {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 511px;
  height: 31px;

  input {
    width: 505px;
    height: 31px;
    border: 1px #e5e5e5 solid;
    padding: 0 3px 0 3px;
    background: #fff;
    font-size: 14px;
    color: #36557e;

    @include placeholder() {
      font-style: italic;
      font-size: 14px;
      color: #cccccc;
    }
  }
}

.email_add {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 7px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer;
}

.email_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer;
}

#product_list {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
}

.product_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%;
}

.product_input {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 511px;
  height: 31px;

  input {
    height: 31px;
    border: 1px #e5e5e5 solid;
    padding: 0 3px 0 3px;
    background: #fff;
    font-size: 14px;
    color: #36557e;
  }
}

#product_add {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 7px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer;
}

.product_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer;
}

.section_foto {
  position: relative;
  float: left;
  clear: both;
  margin: 8px 0 0 0;
  padding: 0;
  width: 86px;
  height: 56px;
  overflow: hidden;
}

.section_doc {
  display: block;
  position: relative;
  float: left;
  clear: both;

  .icon {
    position: relative;
    float: left;
    clear: both;

    a {
      position: relative;
      float: left;
      clear: both;
      font-size: 3em;
    }
  }

  .title {
    position: relative;
    float: left;
    clear: none;
    margin: 25px 0 0 10px;
    font: 16px/16px $font-default;
    color: #000;

    span {
      padding: 0 0 0 10px;
      font-size: 14px;
      color: #438aec;
    }
  }

  .delete {
    position: relative;
    float: left;
    clear: none;
    margin: 25px 0 0 10px;

    label {
      display: block;
      float: left;
      clear: both;
      margin: -2px 0 0 0;
      font-weight: normal;
    }

    input[type="checkbox"] {
      display: inline-block;
      margin: 4px 0 0 0;
      vertical-align: -3px;
    }
  }
}

.section_foto_edit {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0;
}

.section_foto_add {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
}

.section_file {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  font-family: $font-default;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;

  button {
    position: relative;
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
    width: 130px;
    height: 30px;
    @include background-gradient(#0e4ca1, #4191ff);
    @include border-radius(4px);
    border: 0;
    outline: none;
    cursor: pointer;
    color: #fff;

    &:hover {
      @include background-gradient(#c11b1b, #f74646);
    }
  }

  div {
    position: relative;
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 30px;
    color: #36557e;

    span {
      display: block;
      padding: 7px 15px 0 15px;
      width: 270px;
      height: 17px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  input[type=file] {
    position: absolute;
    top: 0;
    visibility: hidden;
  }
}

.section_file2 {
  position: relative;
  float: none;
  clear: both;
  margin: 16px auto 0;
  padding: 0;
  width: 130px;
  height: 30px;
  font-family: $font-default;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;

  button {
    position: relative;
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
    width: 130px;
    height: 30px;
    @include background-gradient(#0e4ca1, #4191ff);
    @include border-radius(4px);
    border: 0;
    outline: none;
    cursor: pointer;
    color: #fff;

    &:hover {
      @include background-gradient(#c11b1b, #f74646);
    }
  }

  div {
    position: relative;
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 30px;
    color: #36557e;

    span {
      display: block;
      opacity: 0;
      padding: 7px 15px 0 15px;
      width: 270px;
      height: 17px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  input[type=file] {
    position: absolute;
    top: 0;
    visibility: hidden;
  }
}

.section_checkbox {
  position: relative;
  float: left;
  clear: both;
  margin: 3px 0 0 1px;
  padding: 0;

  .form_error {
    width: 100%;
  }

  label {
    position: relative;
    float: left;
    clear: both;
    font-weight: normal;
  }

  .form-group input[type=checkbox] {
    vertical-align: -2px;
    margin: 0 5px 0 0;
  }
}

.page_checkbox {
  position: relative;
  float: left;
  clear: none;
  margin: 1px 0 0 6px;
  padding: 0;
  width: 15px;
  height: 19px;

  input[type=checkbox] {
    display: none;
    margin: 0;
    padding: 0;

    + label {
      background: url(/img/page_uncheck.png) 0 -3px no-repeat;
    }

    &:checked + label {
      background: url(/img/page_check.png) 0 -3px no-repeat;
    }
  }

  label {
    display: inline;
    padding: 0 0 0 15px;
    font-family: $font-default;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #e02222;
  }
}

.page_checkbox_all {
  position: absolute;
  top: -1px;
  right: 14px;
  margin: 0;
  padding: 0;
  width: 15px;
  height: 19px;

  input[type=checkbox] {
    display: none;
    margin: 0;
    padding: 0;

    &:checked + label {
      background: url(/img/page_check_all.png) 0 -3px no-repeat;
    }

    + label {
      background: url(/img/page_uncheck_all.png) 0 -3px no-repeat;
    }

  }

  label {
    display: inline;
    padding: 0 0 0 15px;
    font-family: $font-default;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #e02222;
  }
}

.section_datetime {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%;
}

.section_date {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 91px;

  input {
    width: 83px;
    height: 31px;
    border: 1px #e5e5e5 solid;
    padding: 0 3px 0 3px;
    background: #fff;
    font-size: 14px;
    color: #36557e;

    @include placeholder() {
      font-style: italic;
      font-size: 14px;
      color: #cccccc;
    }
  }
}

.section_slash {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 31px;
  height: 33px;
  display: table;

  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    color: #09090a;
  }
}

.section_time {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 80px;
}

.section_time_input {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 55px;

  input {
    width: 47px;
    height: 31px;
    border: 1px #e5e5e5 solid;
    padding: 0 3px 0 3px;
    background: #fff;
    font-size: 14px;
    color: #36557e;

    @include placeholder() {
      font-style: italic;
      font-size: 14px;
      color: #cccccc;
    }
  }
}

.section_time_icon {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 33px;
  background: url(/img/time_icon.jpg) 0 0 no-repeat;
  cursor: pointer;
}

#section_gallery {
  position: relative;
  float: left;
  clear: both;
  margin: 11px 0 0 -14px;
  padding: 0;
  width: 100%;
}

.section_block #section_gallery {
  min-width: 0;
}

.section_gallerybox {
  position: relative;
  float: left;
  clear: both;
  margin: 11px 0 0 -14px;
  padding: 0;
  width: 100%;
}

.section_gallery {
  position: relative;
  float: left;
  clear: none;
  margin: 10px 0 0 14px;
  padding: 0;
}

.section_gallery_foto {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 191px;
  height: 142px;
  overflow: hidden;
  border: 3px #4f96f8 solid;

  img {
    max-width: none;
    max-height: none;
    position: absolute;
    border: 0;
  }
}

.section_gallery_foto_title {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  font: 14px/14px $font-default;
  color: #438aec;
  text-align: center;
  width: 197px;
  word-wrap: break-word;
}

.section_gallery_actions {
  position: absolute;
  top: 0;
  right: 0;
  width: 51px;
  height: 23px;
  background: url(/img/gallery_actions.png) 0 0 repeat;
}

.section_gallery_editphoto {
  position: relative;
  float: left;
  clear: both;
  margin: 2px 0 0 5px;
  padding: 0;
  width: 20px;
  height: 18px;
  background: url(/img/editphoto.png) 0 0 no-repeat;
  cursor: pointer;
}

.section_gallery_deletephoto {
  position: relative;
  float: left;
  clear: none;
  margin: 2px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer;
}

.section_gallery_sort {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 40px;
  height: 30px;

  input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 3px 0 3px;
    background: #fff;
    @include box-sizing(border-box);
    font-size: 14px;
    color: #36557e;
    text-align: center;
  }
}

.section_gallery_name {
  position: absolute;
  left: 3px;
  right: 3px;
  bottom: 3px;
  height: 30px;

  input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 3px 0 3px;
    background: #fff;
    @include box-sizing(border-box);
    font-size: 14px;
    color: #36557e;
    text-align: center;
  }
}

.section_forms {
  display: block;
}

.section_form {
  display: none;

  > .section_block {
    &:nth-of-type(1) {
      margin: 20px 0 0 0;
    }

    &:nth-of-type(n+2) {
      border-top: 2px #84d6fc solid;
    }
  }
}

.section_block {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

.section_block_left {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 10px 10px 10px 10px;
  width: 50%;

  > div {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
  }
}

.section_block_right {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 10px 10px 10px 10px;
  width: 50%;
  border-left: 2px #84d6fc solid;

  > div {
    position: relative;
    float: left;
    clear: both;
    width: 100%
  }
}

.section_tabs {
  position: relative;
  float: left;
  clear: both;
  display: block;
  margin: 15px 0 0 -5px;
  padding: 0;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  color: #105bc3;
}

.section_tab {
  position: relative;
  float: left;
  clear: none;
  margin: 0 15px 0 0;
  padding: 3px 5px 5px 5px;
  cursor: pointer;

  &.hover {
    color: #09090a !important;
    background: #eeeeee;
    cursor: default !important;
  }

  &:hover {
    color: #e12828;
  }

}

#drop-files {
  position: relative;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  width: 100%;
  height: 98px;
  background: #d9e9ff;
  border: 3px dashed #000;

  p {
    display: block;
    position: relative;
    float: none;
    clear: both;
    margin: 15px auto 0;
    padding: 0;
    font-family: $font-default;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    line-height: 22px;
    color: #061528;
    text-align: center;
  }
}

.section_block #drop-files {
  min-width: 0;
}

.drop-files {
  position: relative;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  width: 100%;
  height: 98px;
  background: #d9e9ff;
  border: 3px dashed #000;

  p {
    display: block;
    position: relative;
    float: none;
    clear: both;
    margin: 15px auto 0;
    padding: 0;
    font-family: $font-default;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    line-height: 22px;
    color: #061528;
    text-align: center;
  }
}

#dropped-files {
  display: none;
  position: relative;
  float: left;
  clear: both;
  margin: 13px 0 0 -12px;
  padding: 0;
  width: 100%;

  .image {
  }
}

#upload-button {
  .upload {
    position: relative;
    float: left;
    clear: both;
    margin: 0;
    padding: 8px 0 11px 0;
    width: 212px;
    cursor: pointer;
    @include background-gradient(#0e4ca1, #4191ff);
    @include border-radius(4px);
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    color: #fff;

    &:hover {
      @include background-gradient(#c11b1b, #f74646);
    }
  }

  .delete {
    position: relative;
    float: left;
    clear: none;
    margin: 9px 0 0 23px;
    padding: 0;
    font-size: 15px;
    line-height: 15px;
    color: #e02222;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

#loading {
  display: none;
  width: 100%;
  position: relative;
  margin: 50px 0 0 0;
}

#loading-bar {
  width: 404px;
  height: 40px;
  background: #fff;
  @include box-shadow(0 0 15px rgba(0, 0, 0, 0.1));
  @include border-radius(5px);
  padding: 2px;
}

.loading-color {
  width: 0;
  height: 100%;
  @include transition(all 0.1s ease-in);
  @include border-radius(inherit);
  background-color: #4edbf1;
}

#loading-content {
  position: relative;
  top: 15px;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  width: 405px;
}

#upload-button {
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 30px 0;
  padding: 0;
  width: 100%;
  z-index: 9999;
  display: none;

  a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    @include box-shadow((0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -35px 40px -10px #0A9FCA));
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4bc1e3;
    @include border-radius(10px);

    &:hover {
      @include box-shadow((0 0 1000px 62px rgba(255, 255, 255, 1), inset 0 -5px 40px 0px #0A9FCA));
    }
  }
}

.work_cat_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%;
}

.section_block .work_cat_list {
  min-width: 0;
}

.work_cat {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
}

#work_cat_add {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 7px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer;
}

.work_cat_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer;
}

.chosen-search input {
  display: inline;
  float: none;
  clear: none;
  margin: 0;
}

.work_recommended_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%;
}

.work_recommended {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
}

#work_recommended_add {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 7px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer;
}

.work_recommended_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer;
}

.property_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%;
}

.property_value {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;

  > span {
    display: none;
    margin: 0 0 0 10px;
    text-decoration: underline;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
  }
}

#property_value_add {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 7px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer;
}

.property_value_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer;
}

.characteristic_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%;
}

.characteristic_value {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
}

#characteristic_add {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 7px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer;
}

.characteristic_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer;
}

.filter {
  position: relative;
  float: left;
  clear: both;
  width: 100%;

  .row {
    margin-top: 20px;
  }
}

.filter_input {
  position: relative;
  float: left;
  clear: both;
  width: 300px;

  .form-group {
    margin: 0;
    width: 100%;
  }

  input.form-control {
    padding: 0 4px 0 4px;
    height: 34px;
    @include box-sizing(border-box);
  }

}

.form-wysiwyg {
  width: 100%;
}

.filter_select {
  position: relative;
  float: left;
  clear: none;
  margin: 0;

  .form-group {
    margin: 0;
    width: 100%;
  }

  input.form-control {
    padding: 0 4px 0 4px;
    width: 250px;
    height: 34px;
    @include box-sizing(border-box);
  }

  select {
    padding: 0;
  }
}

.form-checkbox {
  margin-bottom: 0;
}

.form-file.form-file .form_title {
  margin-top: 0;
}

.filter_actions {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
}

.statistic_filter {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  z-index: 2;
}

.statistic_filter_title {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  width: 150px;
  font: 14px/14px 'Ubuntu', sans-serif;
}

.statistic_filter_value {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 0;
  width: 250px;
  font: 14px/14px 'Ubuntu', sans-serif;
}

.statistic_filter_select {
  position: relative;
  float: left;
  clear: none;
  width: 250px;
}

.statistic_filter_date1 {
  position: relative;
  float: left;
  clear: none;
  width: 120px;

  .form-group {
    margin: 0;
    width: 100%;
  }

  input {
    padding: 0 5px 0 5px;
    width: 100%;
    height: 34px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    @include box-sizing(border-box);
  }
}

.statistic_filter_date2 {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  width: 120px;

  .form-group {
    margin: 0;
    width: 100%;
  }

  input {
    padding: 0 5px 0 5px;
    width: 100%;
    height: 34px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    @include box-sizing(border-box);
  }
}

.statistic_filter_list {
  position: relative;
  float: left;
  clear: none;
  margin-top: -5px;
  width: calc(100% - 150px);

  .form_checkList {
    margin-top: 0;

    label {
      margin-right: 35px;

      &:nth-child(n+2) {
        clear: none;
      }
    }
  }
}

.statistic_filter_actions {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
}

.user-table--actions {
  font-size: 1.5em !important;
}

.form_title {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 18px 0 0 0;
  padding: 0;
  width: 100%;
  font: 400 16px/16px $font-default;
  color: #09090a;
}

.form_select {
  margin-bottom: 8px;
}

.form_error {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 5px 0 0 0;
  padding: 0;
  width: 300px;
  font: 400 14px/14px $font-default;
  color: #ff0000;
}

input.form_input {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 8px 0 0 0;
  width: 100%;
  height: 31px;
  border: 1px #e5e5e5 solid;
  padding: 0 3px 0 3px;
  background: #fff;
  @include box-sizing(border-box);
  font: 400 14px/14px $font-default;
  color: #36557e;

  @include placeholder() {
    font-style: italic;
    font-size: 14px;
    color: #cccccc;
  }

  &:focus {
    border: 1px #0000ff solid;
  }
}

textarea.form_input {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 8px 0 0 0;
  width: 100%;
  height: auto;
  border: 1px #e5e5e5 solid;
  padding: 5px 3px 5px 3px;
  background: #fff;
  resize: none;
  @include box-sizing(border-box);
  font: 400 14px/14px $font-default;
  color: #36557e;

  @include placeholder() {
    font-style: italic;
    font-size: 14px;
    color: #ccc;
  }

  &:focus {
    border: 1px #0000ff solid;
  }
}

.statistic_date_create .time {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #0000ff;
}

.date_create .time {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #0000ff;
}

.date_update .time {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #0000ff;
}

.form_textarea {
  margin: 0;
  padding: 6px 3px 6px 3px;
  height: 80px;
  width: 511px;
  @include box-sizing(border-box);
  border: 1px #e5e5e5 solid;
  font: 14px $font-default;
  color: #36557e;
  resize: none;
}

.form_textarea {
  width: 100%;
  @include box-sizing(border-box);

  @include placeholder() {
    font-style: italic;
    font-size: 14px;
    color: #cccccc;
  }
}

.form_radio {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 12px 0 0 2px;
  padding: 0;
  width: 100%;

  label {
    display: block;
    position: relative;
    float: left;
    clear: both;
    padding: 10px 0 0 35px;
    font: 400 14px/14px $font-default;
    color: #36557e;
  }

  input[type=radio] {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 8px;
  }
}

.form_checkList {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 12px 0 0 2px;
  padding: 0;
  width: 100%;

  label {
    display: block;
    position: relative;
    float: left;
    clear: both;
    padding: 11px 0 0 25px;
    font: 400 14px/14px $font-default;
    color: #36557e;
  }

  input[type=checkbox] {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 8px;
  }
}

.main-logo {
  width: 100px;
  margin-top: 19px;
  margin-left: 40px;
}

.form-id {
  width: 40px;
}

.country_value_checkbox {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 6px;
  padding: 0;

  input[type=checkbox] {
    display: none;
    margin: 0;
    padding: 0;

    + label {
      background: url(/img/uncheck.png) 0 1px no-repeat;
      @include background-size(15px 18px);
    }

    &:checked + label {
      background: url(/img/check.png) 0 1px no-repeat;
      @include background-size(15px 18px);
      height: 18px;
    }
  }

  label {
    display: inline;
    padding: 3px 0 3px 19px;
    font-family: $font-default;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #e02222;
  }
}

#country_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 0 0;
}

.country_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
}

.country_values {
  position: relative;
  float: left;
  clear: both;

  .form-group {
    width: 100%;
  }

  .form_title {
    margin-bottom: 10px;
  }

  .form_error {
    width: 100%;
  }
}

.country_iso {
  position: relative;
  float: left;
  clear: both;
  width: 200px;
}

.country_date {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  width: 200px;
}

.country_value label {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0;
}

.country_actions {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
}

.country_add {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer;
}

.country_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer;
}

.select2-container--krajee {
  float: left;
  clear: both;
}

.form-hidden {
  display: none;
}

.form-group {
  position: relative;
  float: left;
  clear: both;
  width: 100%;

  &.field-id_parent > .form_title {
    margin-bottom: 15px;
  }
}

#search .form-group {
  margin-bottom: 0;
}

#industry_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 0 0;
}

.industry_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
}

.industry_values {
  position: relative;
  float: left;
  clear: both;
}

.industry_value {
  .form-group {
    width: 100%;
  }

  .form_title {
    margin-bottom: 10px;
  }

  .form_error {
    width: 100%;
  }
}

.industry_hs {
  position: relative;
  float: left;
  clear: both;
  width: 500px;
}

.industry_value label {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0;
}

.industry_actions {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
}

.industry_add {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer;
}

.industry_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer;
}

.goods_value_checkbox {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 6px;
  padding: 0;

  input[type=checkbox] {
    display: none;
    margin: 0;
    padding: 0;

    + label {
      background: url(/img/uncheck.png) 0 1px no-repeat;
      @include background-size(15px 18px);
    }

    &:checked + label {
      background: url(/img/check.png) 0 1px no-repeat;
      @include background-size(15px 18px);
      height: 18px;
    }

  }
  label {
    display: inline;
    padding: 3px 0 3px 19px;
    font-family: $font-default;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #e02222;
  }

}

#goods_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 0 0;
  width: 100%;
}

.goods_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
}

.goods_values {
  position: relative;
  float: left;
  clear: both;
  width: 400px;
}

.goods_value input {
  margin: 0 !important;
}

.goods_value .form-group {
  width: 100%;
}

.goods_value .form_title {
  margin-bottom: 10px;
}

.goods_value .form_error {
  width: 100%;
}

.goods_hs_original {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

.goods_hs_original .form-group {
  margin-bottom: 10px;
}

.goods_hs_fts {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  width: 100%;
}

.goods_value label {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0;
}

.goods_actions {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
}

.goods_add {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer;
}

.goods_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer;
}

.barrier-select {
  width: 100%;

  select {
    position: relative;
    display: block;
    float: left;
    clear: both;
    width: 100%;
  }

  .select2-container {
    position: relative;
    display: block;
    float: left;
    clear: both;
  }
}

.post-search {
  position: relative;
  float: left;
  clear: both;
  margin-bottom: 20px;
  width: 100%;
}

.alert {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  @include box-sizing(border-box);
}

#file_list {
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 0 0;
  width: 100%;
}

.file_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
}

.file_load {
  position: relative;
  float: left;
  clear: both;
  width: 600px;

  .form-group {
    margin-bottom: 0;
  }
}

.file_list {
  .form-group {
    width: 100%;
  }

  .form_title {
    margin-bottom: 10px;
  }

  .form_error {
    width: 100%;
  }
}

.file_title {
  position: relative;
  float: left;
  clear: both;
  width: 600px;
}

.file_actions {
  position: relative;
  float: left;
  clear: none;
  margin: 20px 0 0 10px;
}

.file_add {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer;
}

.file_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer;
}

#section_block1, #section_block2 {
  display: none;
}

#section_task {
  position: relative;
  float: left;
  clear: both;
  margin: 11px 0 0 -14px;
  padding: 0;
  width: 100%;
  min-width: 695px;
}

.section_task_block {
  position: relative;
  float: left;
  clear: both;
  margin: 11px 0 0 -14px;
  padding: 0;
  width: 100%;
  min-width: 695px;
}

.section_task {
  position: relative;
  float: left;
  clear: none;
  margin: 10px 0 0 14px;
  padding: 0;
  width: 67px;
}

.section_task_photo {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 65px;
  height: 89px;
  border: 1px #4f96f8 solid;
  overflow: hidden;
  text-decoration: none;
}

.section_task_photo img {
  width: 65px;
  height: 89px;
  border: 0;
}

.section_task_title {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%;
  font: 14px/14px 'Ubuntu', sans-serif;
  color: #438aec;
  text-align: center;
  word-wrap: break-word;
}

.section_task_actions {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 20px;
  background: url(/img/gallery_actions.png) 0 0 repeat;
}

.section_task_delete {
  position: relative;
  float: right;
  clear: both;
  margin: 1px 1px 0 0;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer;
}

#charts {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  margin-top: 20px;
}