.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.button {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5); }

.img-relative {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 0; }

.img-absolute {
  position: absolute;
  max-width: none;
  max-height: none;
  border: 0; }
