@import url(//fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic&subset=latin,cyrillic);
@import url(//fonts.googleapis.com/css?family=Open+Sans&subset=all);

article, aside, figcaption, figure, footer, header, hgroup, nav, section, time
	{
	display: block;
	}

textarea, input, select
	{
	padding: 0;
	outline: 0;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	}

textarea:focus, input:focus, select:focus
	{
	outline: 0;
	}
	
div, a, span
	{
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	}
	
body
	{
	margin: 0;
	padding: 0;
	z-index: 0;
	width: 100%;
	height: 100%;
	background: #061528;
	min-height: 768px;
	min-width: 980px;
	overflow: hidden;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	font-style: normal;
	}

.auth_fon
	{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	min-width: 980px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#02050a', endColorstr='#061528', GradientType=0 ); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #02050a), color-stop(100%, #061528));
	background-image: -webkit-linear-gradient(bottom, #061528 0%, #02050a 100%);
	background-image: -moz-linear-gradient(bottom, #061528 0%, #02050a 100%);
	background-image: -o-linear-gradient(bottom, #061528 0%, #02050a 100%);
	background-image: -ms-linear-gradient(bottom, #061528 0%, #02050a 100%);
	background-image: linear-gradient(bottom, #061528 0%, #02050a 100%);
	}
	
.auth_panel
	{
	position: relative;
	float: none;
	clear: both;
	margin: 17px auto 0;
	padding: 0;
	width: 362px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: normal;
	font-style: normal;
	}
	
.auth_logo
	{
	position: relative;
	float: left;
	clear: both;
	margin: 0;
	padding: 0;
	width: 362px;
	height: 39px;
	background: url(/img/auth_logo.png) 0 0 no-repeat;
	cursor: pointer;
	}
	
.auth_logo:hover
	{
	background: url(/img/auth_logo_hover.png) 0 0 no-repeat;
	}
	
.auth_info
	{
	position: relative;
	float: left;
	clear: both;
	margin: 18px 0 0 0;
	padding: 0;
	width: 362px;
	height: 234px;
	background: url(/img/auth_info.jpg) 0 0 no-repeat;
	}
	
.auth_login
	{
	position: relative;
	float: left;
	clear: both;
	margin: 51px 0 0 27px;
	padding: 0;
	outline: 0;
	width: 310px;
	height: 40px;
	background: url(/img/auth_input.png) 0 0 no-repeat;
	}
	
.auth_pass
	{
	position: relative;
	float: left;
	clear: both;
	margin: 19px 0 0 27px;
	padding: 0;
	outline: 0;
	width: 310px;
	height: 40px;
	background: url(/img/auth_input.png) 0 0 no-repeat;
	}
	
.auth_input
	{
	display: block;
	padding: 0 9px 0 9px;
	width: 100%;
	height: 40px;
	border: 0;
	outline: 0;
	background: transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 18px;
	text-align: left;
	color: #000;
	}
.auth_input::-moz-placeholder { color: #999999; }
.auth_input::-webkit-input-placeholder { color: #999999; }
.auth_input:-webkit-autofill
	{
	/*-webkit-box-shadow: inset 0 0 0 50px #fff;*/
	-webkit-text-fill-color: #000;
	}

.auth_submit
	{
	position: relative;
	float: left;
	clear: both;
	margin: 13px 0 0 27px;
	padding: 10px 20px 11px 20px;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#89adfa', endColorstr='#5a7ac0', GradientType=0 ); 
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #89adfa), color-stop(100%, #5a7ac0));
	background-image: -webkit-linear-gradient(bottom, #5a7ac0 0%, #6180c3 50%, #6d8fd9 51%, #89adfa 100%);
	background-image: -moz-linear-gradient(bottom, #5a7ac0 0%, #6180c3 50%, #6d8fd9 51%, #89adfa 100%);
	background-image: -o-linear-gradient(bottom, #5a7ac0 0%, #6180c3 50%, #6d8fd9 51%, #89adfa 100%);
	background-image: -ms-linear-gradient(bottom, #5a7ac0 0%, #6180c3 50%, #6d8fd9 51%, #89adfa 100%);
	background-image: linear-gradient(bottom, #5a7ac0 0%, #6180c3 50%, #6d8fd9 51%, #89adfa 100%);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: Trebuchet MS, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	line-height: 16px;
	color: #fff;
	cursor: pointer;
	}
	
.auth_return
	{
	position: relative;
	float: right;
	clear: none;
	margin: 23px 27px 0 0;
	padding: 0;
	font-family: Trebuchet MS, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 15px;
	line-height: 15px;
	color: #c78d8d;
	}
	
.auth_return a { text-decoration: underline !important; color: #c78d8d !important; }
.auth_return a:hover { text-decoration: none !important; }