@import url(//fonts.googleapis.com/css?family=Ubuntu:400,500,700,400italic&subset=latin,cyrillic);
@import url(//fonts.googleapis.com/css?family=Open+Sans&subset=all);
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.button {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5); }

.img-relative {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 0; }

.img-absolute {
  position: absolute;
  max-width: none;
  max-height: none;
  border: 0; }

article, aside, figcaption, figure, footer, header, nav, section, time {
  display: block; }

textarea, input, select {
  padding: 0;
  outline: 0; }
  textarea:focus, input:focus, select:focus {
    outline: 0; }

table, tbody, th, td, div, a, span {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

label {
  display: inline; }

body {
  margin: 0;
  padding: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  min-height: 768px;
  min-width: 780px;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  font-style: normal; }

a {
  color: #265980;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#container {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%; }

header#page_header {
  position: relative;
  float: left;
  clear: both;
  min-width: 100%;
  height: 83px;
  z-index: 3; }

#page_overheader {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5px;
  background: url(/img/fon_header.png) 0 0 repeat-x; }

#page_logo {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 78px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#02050a', endColorstr='#061528', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #02050a), color-stop(100%, #061528));
  background-image: -webkit-linear-gradient(bottom, #061528 0%, #02050a 100%);
  background-image: -moz-linear-gradient(bottom, #061528 0%, #02050a 100%);
  background-image: -o-linear-gradient(bottom, #061528 0%, #02050a 100%);
  background-image: -ms-linear-gradient(bottom, #061528 0%, #02050a 100%);
  background-image: linear-gradient(bottom, #061528 0%, #02050a 100%); }

#logo_text {
  position: relative;
  float: left;
  clear: both;
  display: table;
  width: 70%;
  height: 78px;
  margin: 0 0 0 18px;
  padding: 0;
  font-size: 22px;
  line-height: 22px;
  color: #ecf4ff; }
  #logo_text span {
    display: table-cell;
    vertical-align: middle;
    text-align: left; }
    #logo_text span a {
      text-decoration: none;
      color: #ecf4ff; }
      #logo_text span a:hover {
        text-decoration: none; }

#logo_cms {
  display: inline !important;
  font-size: 18px;
  vertical-align: 0 !important;
  color: #c4d3e6; }

#logo_foto {
  position: relative;
  float: right;
  clear: none;
  margin: 26px 23px 0 0;
  padding: 0;
  width: 229px;
  height: 26px;
  background: url(/img/logo.png) 0 0 no-repeat; }
  #logo_foto:hover {
    background: url(/img/logo_hover.png) 0 0 no-repeat; }

#page_header_right {
  position: relative;
  float: right;
  clear: none;
  margin: 30px 21px 0 0; }

#people {
  position: relative;
  float: left;
  clear: both;
  font: 24px/24px 'Play', sans-serif;
  color: #fff; }
  #people span {
    padding: 0 15px 0 0;
    vertical-align: 2px;
    font-size: 16px;
    color: #cbd7f4; }

#header_stripe {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 23px;
  width: 2px;
  height: 29px;
  background: #aeb4c7; }

#logout {
  display: block;
  position: relative;
  float: right;
  clear: none;
  margin: 3px 0 0 22px;
  font: 18px/18px 'Play', sans-serif;
  text-decoration: underline;
  text-align: right;
  color: #cbd7f4; }
  #logout:hover {
    text-decoration: none; }

aside#page_aside {
  display: table-cell;
  vertical-align: top;
  margin: 0 0 0;
  padding: 0;
  width: 225px; }

#aside {
  position: relative;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  padding: 0; }

.menu {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 225px; }

.menu, .submenu {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.menu_stripe {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 1px;
  background: #153257; }

.menu_content {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  min-height: 42px;
  background: transparent; }
  .menu_content:hover, .menu_content.hover {
    background: #e02222; }

.menu_icon {
  position: relative;
  float: left;
  clear: both;
  margin: 0 0 0 19px;
  padding: 0;
  width: 15px;
  height: 42px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer; }

#menu_main {
  background-image: url(/img/menu_main.png); }

#menu_pages {
  background-image: url(/img/menu_pages.png); }

#menu_slider {
  background-image: url(/img/menu_pages.png); }

#menu_portfolio {
  background-image: url(/img/menu_portfolio.png); }

#menu_news {
  background-image: url(/img/menu_news.png); }

#menu_actions {
  background-image: url(/img/menu_actions.png); }

#menu_settings {
  background-image: url(/img/menu_settings.png); }

#menu_gallery {
  background-image: url(/img/menu_gallery.png); }

#menu_lists {
  background-image: url(/img/menu_lists.png); }

#menu_exit {
  background-image: url(/img/menu_exit.png); }

.menu_active {
  background: url(/img/menu_active.png) right center no-repeat; }

.menu_open {
  background: url(/img/menu_open.png) 160px center no-repeat; }

.menu_close {
  background: url(/img/menu_close.png) 165px center no-repeat; }

.menu_title {
  display: table;
  position: relative;
  float: right;
  clear: none;
  padding: 5px 15px 5px 0;
  width: 180px;
  height: 42px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .menu_title span {
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
    line-height: 14px;
    color: #fff;
    display: table-cell;
    cursor: pointer; }
  .menu_title a {
    text-decoration: none !important;
    color: #fff !important; }
    .menu_title a:hover, .menu_title a.hover {
      text-decoration: none !important; }

.submenu {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 225px;
  display: none; }

.submenu_stripe {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 225px;
  height: 1px;
  background: #153257; }

.submenu_content {
  position: relative;
  float: left;
  clear: both;
  margin: 3px 0 13px 0;
  padding: 0;
  width: 225px; }

.submenu_title {
  position: relative;
  float: left;
  clear: both;
  margin: 6px 0 0 33px;
  padding: 0;
  width: 192px;
  text-align: left;
  font-size: 14px;
  line-height: 14px;
  color: #bdd9fc; }
  .submenu_title a {
    text-decoration: underline !important;
    color: #bdd9fc !important; }
    .submenu_title a:hover {
      text-decoration: none !important;
      color: #fff !important; }
    .submenu_title a.hover {
      text-decoration: none !important;
      color: #f8ffda !important; }

#page_section {
  display: table-cell;
  vertical-align: top;
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  min-height: 685px;
  width: 100%;
  height: 100%;
  background: #fff; }
  #page_section > div {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    min-height: 100%;
    overflow-x: auto; }
  #page_section footer {
    position: absolute;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    background: url(/img/fon_header.png) 0 0 repeat-x; }

#section {
  position: relative;
  clear: both;
  margin: 0 0 20px 0;
  padding: 16px 20px 20px 20px;
  min-height: 649px;
  background: #fff; }
  #section header {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    margin: 0; }
  #section article {
    position: relative;
    float: left;
    clear: both;
    margin: 20px 0 97px 0;
    padding: 0;
    width: 100%; }

#section_header {
  display: table;
  width: 100%; }

#section_title {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  min-width: 495px;
  height: 24px;
  overflow: hidden;
  font-size: 24px;
  line-height: 24px;
  color: #105bc3; }
  #section_title ul.breadcrumb {
    margin: 0;
    padding: 0;
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0; }
    #section_title ul.breadcrumb > li + li:before {
      color: #105bc3; }
  #section_title .breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px; }
    #section_title .breadcrumb > li {
      display: inline; }
      #section_title .breadcrumb > li + li:before {
        padding: 0 5px;
        color: #ccc;
        content: "/\00a0"; }
    #section_title .breadcrumb > .active {
      color: #777; }
  #section_title span {
    font-size: 16px;
    line-height: 16px;
    color: #000; }
  #section_title a {
    text-decoration: none;
    color: #105bc3; }
    #section_title a:hover {
      text-decoration: none; }

#section_url {
  display: table-cell;
  vertical-align: top;
  text-align: left; }

.section_button {
  display: block;
  float: right;
  clear: both; }

.section_submit {
  display: block;
  float: left;
  clear: both;
  margin-top: 10px; }

.sectiontable {
  position: relative;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
  z-index: 1; }
  .sectiontable .pagination {
    display: block;
    position: relative;
    float: left;
    clear: both;
    margin: 0 0 15px 0; }
  .sectiontable .summary {
    display: block;
    position: relative;
    float: right;
    clear: none;
    margin: 7px 0 15px 15px; }

.kartiktable {
  position: relative;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  padding: 0;
  width: 100%;
  z-index: 1; }
  .kartiktable .pagination {
    display: block;
    position: relative;
    float: left;
    clear: both;
    margin: 0 0 15px 0; }
  .kartiktable .summary {
    display: block;
    position: relative;
    float: left;
    clear: both;
    margin: 7px 0 15px 15px; }
  .kartiktable .kv-grid-container {
    width: 100%; }

.kartik_table.table {
  margin: 0 0 15px 0;
  width: 100%;
  border: 3px #e5e5e5 solid;
  padding: 0;
  border-spacing: 0;
  border-collapse: separate;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .kartik_table.table th {
    vertical-align: middle;
    text-align: left;
    height: 44px;
    background: #959da6;
    border-right: 1px #e5e5e5 solid;
    padding: 0 20px 0 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #fff; }
    .kartik_table.table th.middle_th {
      text-align: center; }
    .kartik_table.table th.small_th a {
      width: 50px; }
    .kartik_table.table th.last_th {
      padding: 0 15px 0 15px; }
    .kartik_table.table th a {
      display: block;
      position: relative;
      text-decoration: none !important;
      color: #fff; }
      .kartik_table.table th a:hover {
        text-decoration: none !important; }
      .kartik_table.table th a.asc {
        color: #0000ff !important; }
        .kartik_table.table th a.asc:after {
          background: url(/img/sort_asc.png) 0 0 no-repeat; }
      .kartik_table.table th a.desc {
        color: #0000ff !important; }
        .kartik_table.table th a.desc:after {
          background: url(/img/sort_desc.png) 0 0 no-repeat; }
      .kartik_table.table th a:after {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -14px;
        margin-top: -7px;
        width: 8px;
        height: 15px;
        content: " ";
        background: url(/img/sort.png) 0 0 no-repeat; }
    .kartik_table.table th div.div_th {
      position: relative;
      float: none;
      clear: both;
      margin: 0;
      padding: 0; }
    .kartik_table.table th div.title_th {
      position: relative;
      float: none;
      clear: both;
      margin: 0;
      padding: 0; }
      .kartik_table.table th div.title_th a {
        text-decoration: none !important;
        color: #fff !important; }
        .kartik_table.table th div.title_th a:hover {
          text-decoration: none !important; }
    .kartik_table.table th div.sort_th {
      position: absolute;
      right: 8px;
      top: 0;
      margin: 0;
      padding: 0;
      width: 8px;
      height: 15px;
      background: url(/img/sort.png) 0 0 no-repeat; }
    .kartik_table.table th div.sort_asc {
      position: absolute;
      right: 8px;
      top: 0;
      margin: 0;
      padding: 0;
      width: 8px;
      height: 15px;
      background: url(/img/sort_asc.png) 0 0 no-repeat; }
    .kartik_table.table th div.sort_desc {
      position: absolute;
      right: 8px;
      top: 0;
      margin: 0;
      padding: 0;
      width: 8px;
      height: 15px;
      background: url(/img/sort_desc.png) 0 0 no-repeat; }
  .kartik_table.table td {
    position: relative;
    vertical-align: middle;
    text-align: left;
    height: 34px;
    background: #fff;
    border-right: 1px #e5e5e5 solid;
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    line-height: 17px;
    color: #060707; }
    .kartik_table.table td.last_td {
      padding: 8px 10px 8px 10px; }
    .kartik_table.table td:not(.last_td) a {
      text-decoration: none !important;
      color: #105bc3 !important; }
      .kartik_table.table td:not(.last_td) a:hover {
        text-decoration: none !important; }
    .kartik_table.table td.email_td a {
      display: block;
      position: relative;
      white-space: nowrap;
      width: 150px;
      height: 17px;
      overflow: hidden; }
    .kartik_table.table td.email_td span {
      display: block;
      position: absolute;
      content: "";
      width: 31px;
      height: 100%;
      right: 0;
      bottom: 0; }
    .kartik_table.table td.common_td {
      background: #c0daff;
      border: 0; }
    .kartik_table.table td.middle_td {
      padding: 8px 12px 8px 12px;
      text-align: center; }
    .kartik_table.table td.right_td {
      text-align: right; }
    .kartik_table.table td.foto_td {
      width: 120px;
      padding: 4px 2px 4px 2px;
      text-align: center; }
      .kartik_table.table td.foto_td img {
        width: 86px;
        height: 46px;
        border: 0; }
    .kartik_table.table td.document_td {
      padding: 4px 2px 4px 2px;
      text-align: center; }
      .kartik_table.table td.document_td img {
        width: 46px;
        height: 46px;
        border: 0; }
    .kartik_table.table td input.form-control {
      padding: 0 4px 0 4px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .kartik_table.table td select {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .kartik_table.table td .view_div {
      position: relative;
      float: left;
      clear: both;
      margin: 0;
      padding: 0;
      border: 0;
      width: 100%;
      line-height: 24px;
      height: 24px;
      overflow: hidden; }
    .kartik_table.table td .content_div {
      position: relative;
      float: left;
      clear: both;
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      width: 100%;
      height: 34px;
      text-overflow: ellipsis; }
      .kartik_table.table td .content_div span {
        display: table;
        height: 34px; }
        .kartik_table.table td .content_div span div {
          display: table-cell;
          vertical-align: middle;
          text-align: justify;
          line-height: 17px; }
    .kartik_table.table td .edit_div {
      position: relative;
      float: left;
      clear: both;
      border: 1px #e5e5e5 solid;
      background: #fff;
      width: 100%;
      height: 32px; }
      .kartik_table.table td .edit_div input {
        width: 100%;
        height: 100%;
        border: 0;
        padding: 0 5px 0 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        outline: 0; }
        .kartik_table.table td .edit_div input:disabled {
          cursor: default; }
      .kartik_table.table td .edit_div:hover {
        border: 1px #000 solid; }
  .kartik_table.table tr.odd_tr:not(.danger) td {
    background: #f5f5f5; }
  .kartik_table.table tr.odd_tr:not(.danger) .email_td span {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='whitesmoke', endColorstr='rgba(245, 245, 245, 0)', GradientType=1);
    background-image: -webkit-linear-gradient(left, rgba(245, 245, 245, 0) 0%, whitesmoke 100%);
    background-image: -moz-linear-gradient(left, rgba(245, 245, 245, 0) 0%, whitesmoke 100%);
    background-image: -o-linear-gradient(left, rgba(245, 245, 245, 0) 0%, whitesmoke 100%);
    background-image: -ms-linear-gradient(to right, rgba(245, 245, 245, 0) 0%, #02050a 100%);
    background-image: linear-gradient(to right, rgba(245, 245, 245, 0) 0%, whitesmoke 100%); }
  .kartik_table.table tr:not(.odd_tr) .email_td span {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='rgba(255, 255, 255, 0)', GradientType=1);
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
    background-image: -ms-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #02050a 100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%); }

.section_table {
  margin: 0 0 15px 0;
  width: 100%;
  border: 3px #e5e5e5 solid;
  padding: 0;
  border-spacing: 0;
  border-collapse: separate; }
  .section_table th {
    vertical-align: middle;
    text-align: left;
    height: 44px;
    background: #959da6;
    border-right: 1px #e5e5e5 solid;
    padding: 0 20px 0 15px;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #fff; }
    .section_table th.middle_th {
      text-align: center; }
    .section_table th.small_th a {
      width: 50px; }
    .section_table th.last_th {
      padding: 0 15px 0 15px; }
    .section_table th.last_td {
      border: 0; }
    .section_table th a {
      display: block;
      position: relative;
      text-decoration: none !important;
      color: #fff; }
      .section_table th a:hover {
        text-decoration: none !important; }
      .section_table th a.asc {
        color: #0000ff !important; }
        .section_table th a.asc:after {
          background: url(/img/sort_asc.png) 0 0 no-repeat; }
      .section_table th a.desc {
        color: #0000ff !important; }
        .section_table th a.desc:after {
          background: url(/img/sort_desc.png) 0 0 no-repeat; }
      .section_table th a:after {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: -14px;
        margin-top: -7px;
        width: 8px;
        height: 15px;
        content: " ";
        background: url(/img/sort.png) 0 0 no-repeat; }
    .section_table th div.div_th {
      position: relative;
      float: none;
      clear: both;
      margin: 0;
      padding: 0; }
    .section_table th div.title_th {
      position: relative;
      float: none;
      clear: both;
      margin: 0;
      padding: 0; }
      .section_table th div.title_th a {
        text-decoration: none !important;
        color: #fff !important; }
        .section_table th div.title_th a:hover {
          text-decoration: none !important; }
    .section_table th div.sort_th {
      position: absolute;
      right: 8px;
      top: 0;
      margin: 0;
      padding: 0;
      width: 8px;
      height: 15px;
      background: url(/img/sort.png) 0 0 no-repeat; }
    .section_table th div.sort_asc {
      position: absolute;
      right: 8px;
      top: 0;
      margin: 0;
      padding: 0;
      width: 8px;
      height: 15px;
      background: url(/img/sort_asc.png) 0 0 no-repeat; }
    .section_table th div.sort_desc {
      position: absolute;
      right: 8px;
      top: 0;
      margin: 0;
      padding: 0;
      width: 8px;
      height: 15px;
      background: url(/img/sort_desc.png) 0 0 no-repeat; }
  .section_table td {
    position: relative;
    vertical-align: middle;
    text-align: left;
    height: 34px;
    background: #fff;
    border-right: 1px #e5e5e5 solid;
    padding: 8px 12px 8px 12px;
    font-size: 14px;
    line-height: 17px;
    color: #060707; }
    .section_table td.last_td {
      padding: 8px 10px 8px 10px;
      border: 0; }
    .section_table td:not(.last_td) a {
      text-decoration: none !important;
      color: #105bc3 !important; }
      .section_table td:not(.last_td) a:hover {
        text-decoration: none !important; }
    .section_table td.email_td a {
      display: block;
      position: relative;
      white-space: nowrap;
      width: 150px;
      height: 17px;
      overflow: hidden; }
    .section_table td.email_td span {
      display: block;
      position: absolute;
      content: "";
      width: 31px;
      height: 100%;
      right: 0;
      bottom: 0; }
    .section_table td.common_td {
      background: #c0daff;
      border: 0; }
    .section_table td.middle_td {
      padding: 8px 12px 8px 12px;
      text-align: center; }
    .section_table td.right_td {
      text-align: right; }
    .section_table td.foto_td {
      padding: 4px 2px 4px 2px;
      text-align: center; }
      .section_table td.foto_td img {
        width: 86px;
        height: 46px;
        border: 0; }
    .section_table td.document_td {
      padding: 4px 2px 4px 2px;
      text-align: center; }
      .section_table td.document_td img {
        width: 46px;
        height: 46px;
        border: 0; }
    .section_table td input.form-control {
      padding: 0 4px 0 4px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .section_table td select {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .section_table td .view_div {
      position: relative;
      float: left;
      clear: both;
      margin: 0;
      padding: 0;
      border: 0;
      width: 100%;
      line-height: 24px;
      height: 24px;
      overflow: hidden; }
    .section_table td .content_div {
      position: relative;
      float: left;
      clear: both;
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      width: 100%;
      height: 34px;
      text-overflow: ellipsis; }
      .section_table td .content_div span {
        display: table;
        height: 34px; }
        .section_table td .content_div span div {
          display: table-cell;
          vertical-align: middle;
          text-align: justify;
          line-height: 17px; }
    .section_table td .edit_div {
      position: relative;
      float: left;
      clear: both;
      border: 1px #e5e5e5 solid;
      background: #fff;
      width: 100%;
      height: 32px;
      display: none; }
      .section_table td .edit_div input {
        width: 100%;
        height: 100%;
        border: 0;
        padding: 0 5px 0 5px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        outline: 0; }
        .section_table td .edit_div input:disabled {
          cursor: default; }
      .section_table td .edit_div:hover {
        border: 1px #000 solid; }
  .section_table tr.odd_tr:not(.danger) td {
    background: #f5f5f5; }
  .section_table tr.odd_tr:not(.danger) .email_td span {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='whitesmoke', endColorstr='rgba(245, 245, 245, 0)', GradientType=1);
    background-image: -webkit-linear-gradient(left, rgba(245, 245, 245, 0) 0%, whitesmoke 100%);
    background-image: -moz-linear-gradient(left, rgba(245, 245, 245, 0) 0%, whitesmoke 100%);
    background-image: -o-linear-gradient(left, rgba(245, 245, 245, 0) 0%, whitesmoke 100%);
    background-image: -ms-linear-gradient(to right, rgba(245, 245, 245, 0) 0%, #02050a 100%);
    background-image: linear-gradient(to right, rgba(245, 245, 245, 0) 0%, whitesmoke 100%); }
  .section_table tr:not(.odd_tr) .email_td span {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='rgba(255, 255, 255, 0)', GradientType=1);
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
    background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
    background-image: -ms-linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #02050a 100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%); }

.functions_td {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0; }

.public_td {
  display: table;
  position: relative;
  float: none;
  clear: both;
  margin: 0 auto 0;
  padding: 0; }

.fastedit_td {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 18px;
  color: #265980;
  cursor: pointer; }

.fastcancel_td {
  display: none;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 5px;
  padding: 0;
  width: 20px;
  height: 18px;
  color: #265980;
  cursor: pointer; }

.fastsave_td {
  display: none;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 5px;
  padding: 0;
  width: 20px;
  height: 18px;
  color: #265980;
  cursor: pointer; }

.sort_value {
  position: relative;
  float: none;
  clear: both;
  margin: 0 auto 0; }

.sort_actions {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 15px;
  height: 34px;
  margin: -17px 0 0 0; }

.sort_up {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  text-decoration: none;
  cursor: pointer; }

.sort_down {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15px;
  height: 15px;
  text-decoration: none;
  cursor: pointer; }

.add_td {
  position: relative;
  float: left;
  clear: none;
  margin: -2px 0 0 28px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer; }

.icon_td {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  padding: 0;
  width: 20px;
  height: 18px;
  text-decoration: none;
  cursor: pointer; }

.edit_td {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  padding: 0;
  width: 20px;
  height: 18px;
  text-decoration: none;
  cursor: pointer; }

.submit_td {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 6px;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/img/submit.png) 0 0 no-repeat;
  text-decoration: none;
  cursor: pointer; }

.cancel_td {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 6px;
  padding: 0;
  width: 18px;
  height: 18px;
  background: url(/img/cancel.png) 0 0 no-repeat;
  text-decoration: none;
  cursor: pointer; }

.delete_td {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  padding: 0;
  width: 15px;
  height: 18px;
  text-decoration: none;
  cursor: pointer; }

.view_td {
  position: relative;
  float: left;
  clear: none;
  padding: 0;
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer; }

.catalog_td {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: -1px 0 0 6px;
  padding: 0;
  width: 20px;
  height: 20px;
  background: url(/img/catalog.jpg) 0 0 no-repeat;
  text-decoration: none;
  cursor: pointer; }

#status {
  display: none; }

.section_stripe {
  position: absolute;
  margin: 0;
  padding: 0;
  left: 0;
  right: 0;
  height: 2px;
  background: #b1d2ff; }

.section_info {
  position: relative;
  float: left;
  clear: both;
  margin: -4px 0 0 0;
  padding: 0;
  width: 100%; }

.section_title {
  position: relative;
  float: left;
  clear: both;
  margin: 18px 0 0 0;
  padding: 0;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: #09090a; }
  .section_title label {
    font-weight: normal; }

.section_block .section_title {
  min-width: 0; }

.section_input {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%; }
  .section_input > span {
    display: block;
    position: relative;
    margin: 10px 0 0 0;
    float: left;
    clear: both;
    font-size: 14px;
    color: #ff0000; }

.section_block .section_input {
  width: 100%;
  min-width: 0; }

.section_input input {
  display: block;
  width: 100%;
  height: 31px;
  border: 1px #e5e5e5 solid;
  padding: 0 3px 0 3px;
  background: #fff;
  font-size: 14px;
  color: #36557e;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .section_input input::-webkit-input-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  .section_input input:-moz-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  .section_input input::-moz-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  .section_input input:-ms-input-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  .section_input input:focus {
    border: 1px #0000ff solid; }

.section_input textarea {
  margin: 0;
  padding: 6px 3px 6px 3px;
  height: 80px;
  width: 511px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px #e5e5e5 solid;
  font: 14px "Ubuntu", sans-serif;
  color: #36557e;
  resize: none; }
  .section_input textarea::-webkit-input-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  .section_input textarea:-moz-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  .section_input textarea::-moz-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  .section_input textarea:-ms-input-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }

.section_block .section_input textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.section_radio {
  position: relative;
  float: left;
  clear: both;
  margin: 12px 0 0 2px;
  padding: 0;
  width: 100%; }
  .section_radio input[type=radio] {
    display: none; }
    .section_radio input[type=radio] + label {
      background: url(/img/radio.png) 0 1px no-repeat; }
    .section_radio input[type=radio]:checked + label {
      background: url(/img/radio_checked.png) 0 1px no-repeat; }
  .section_radio label {
    color: #36557e;
    font-weight: 400;
    padding: 0 0 0 25px; }

.section_viewbox {
  position: relative;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  width: 100%; }

.section_view {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 0; }
  .section_view > div {
    display: table-row; }
    .section_view > div > span {
      display: table-cell;
      vertical-align: top;
      padding: 10px 5px 10px 5px;
      border: 1px solid #ddd;
      font-size: 18px;
      line-height: 18px;
      color: #000; }
      .section_view > div > span:nth-of-type(1) {
        text-align: right;
        padding-right: 5px;
        font-weight: 500;
        width: 30%; }
      .section_view > div > span:nth-of-type(2) {
        text-align: left;
        padding-left: 10px;
        width: 70%; }
    .section_view > div:nth-of-type(odd) > span {
      background: #f5f5f5; }

.section_printbox {
  position: relative;
  float: left;
  clear: both; }

.section_print {
  display: table;
  position: relative;
  float: left;
  clear: both;
  border: 1px solid #ddd;
  border-collapse: collapse;
  padding: 0; }
  .section_print > div {
    display: table-row; }
    .section_print > div > span {
      display: table-cell;
      vertical-align: top;
      text-align: center;
      border: 1px solid #ddd;
      font-size: 18px;
      line-height: 18px; }
    .section_print > div:nth-of-type(1) > span {
      padding: 10px 5px 10px 5px;
      background: #40546a;
      color: #fff; }
    .section_print > div:nth-of-type(n+2) > span {
      padding: 10px 5px 10px 5px;
      background: #f5f5f5;
      color: #000; }
    .section_print > div:nth-of-type(2n+2) > span {
      background: #fff; }
    .section_print > div:nth-of-type(2n+3) > span {
      background: #f5f5f5; }

#section_print {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 25px;
  font-size: 3em;
  text-decoration: none;
  cursor: pointer; }

#section_excel {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 25px;
  font-size: 3em;
  /*background: url(/img/excel.png) 0 0 no-repeat;*/
  text-decoration: none;
  cursor: pointer; }

a.add-user {
  display: block;
  float: left;
  clear: both;
  font-size: 3em; }

#section_block1 {
  display: none;
  position: relative;
  float: left;
  clear: both;
  margin: 8px 0 0 0;
  padding: 0;
  width: 100%; }

#section_block2 {
  display: none;
  position: relative;
  float: left;
  clear: both;
  margin: 8px 0 0 0;
  padding: 0;
  width: 100%; }

.section_stripe2 {
  position: relative;
  float: left;
  clear: both;
  margin: 24px 0 0 0;
  padding: 0;
  width: 100%;
  height: 2px;
  background: #b1d2ff; }

.section_submit {
  margin: 17px 0 0 0; }

.section_duplicate {
  margin: 17px 0 0 10px; }

.section_pg {
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 0 0;
  padding: 0;
  width: 100%; }

#section_pg {
  position: relative;
  float: right;
  clear: both;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-style: normal; }

#section_actions {
  display: none;
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 0 0;
  padding: 0;
  width: 100%; }
  #section_actions #section_set_value.active + #section_set_input {
    display: table; }
  #section_actions #section_set_input.input-group {
    display: none;
    margin-top: -7px;
    margin-right: 20px;
    width: 300px; }

#section_delete_all {
  position: relative;
  float: right;
  clear: both;
  margin: 0;
  padding: 0;
  text-align: right;
  text-decoration: underline;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: #e01111;
  cursor: pointer; }
  #section_delete_all:hover {
    text-decoration: none; }

#section_set_value {
  position: relative;
  float: right;
  clear: none;
  margin: 0 20px 0 0;
  padding: 0;
  text-align: right;
  text-decoration: underline;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
  color: #e01111;
  cursor: pointer; }
  #section_set_value:hover {
    text-decoration: none; }

#section_set_value {
  position: relative;
  float: right;
  clear: none;
  margin: 0 20px 0 0;
  padding: 0;
  text-align: right;
  text-decoration: underline;
  font: 14px/14px "Ubuntu", sans-serif;
  color: #e01111;
  cursor: pointer; }
  #section_set_value:hover {
    text-decoration: none; }

.pg_prev_on {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 30px;
  border: 1px #dddddd solid;
  background: #ffffff;
  font-size: 14px;
  line-height: 14px;
  color: #428bca;
  text-decoration: none;
  text-align: center; }
  .pg_prev_on:hover {
    background: #eeeeee; }
  .pg_prev_on span {
    display: block;
    padding: 8px 0 0 0; }

.pg_prev_off {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 30px;
  border: 1px #dddddd solid;
  background: #ffffff;
  font-size: 14px;
  line-height: 14px;
  color: #999;
  text-align: center;
  cursor: not-allowed; }
  .pg_prev_off span {
    display: block;
    padding: 8px 0 0 0; }

.cur_pg {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 -1px;
  width: 30px;
  height: 30px;
  border: 1px #dddddd solid;
  background: #eeeeee;
  font-size: 13px;
  line-height: 13px;
  color: #999;
  text-align: center; }
  .cur_pg span {
    display: block;
    padding: 9px 0 0 0; }

.nocur_pg {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 -1px;
  width: 30px;
  height: 30px;
  border: 1px #dddddd solid;
  background: #ffffff;
  font-size: 13px;
  line-height: 13px;
  color: #428bca;
  text-decoration: none;
  text-align: center; }
  .nocur_pg:hover {
    background: #eeeeee; }
  .nocur_pg span {
    display: block;
    padding: 9px 0 0 0; }

.pg_next_on {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 -1px;
  padding: 0;
  width: 40px;
  height: 30px;
  border: 1px #dddddd solid;
  background: #ffffff;
  font-size: 14px;
  line-height: 14px;
  color: #428bca;
  text-decoration: none;
  text-align: center; }
  .pg_next_on:hover {
    background: #eeeeee; }
  .pg_next_on span {
    display: block;
    padding: 8px 0 0 0; }

.pg_next_off {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 -1px;
  padding: 0;
  width: 40px;
  height: 30px;
  border: 1px #dddddd solid;
  background: #ffffff;
  font-size: 14px;
  line-height: 14px;
  color: #999;
  text-align: center;
  cursor: not-allowed; }
  .pg_next_off span {
    display: block;
    padding: 8px 0 0 0; }

#bottom {
  display: table;
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-height: 685px;
  background: #061528; }

.email_listbox {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0; }

.email_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%; }

.email_input {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 511px;
  height: 31px; }
  .email_input input {
    width: 505px;
    height: 31px;
    border: 1px #e5e5e5 solid;
    padding: 0 3px 0 3px;
    background: #fff;
    font-size: 14px;
    color: #36557e; }
    .email_input input::-webkit-input-placeholder {
      font-style: italic;
      font-size: 14px;
      color: #cccccc; }
    .email_input input:-moz-placeholder {
      font-style: italic;
      font-size: 14px;
      color: #cccccc; }
    .email_input input::-moz-placeholder {
      font-style: italic;
      font-size: 14px;
      color: #cccccc; }
    .email_input input:-ms-input-placeholder {
      font-style: italic;
      font-size: 14px;
      color: #cccccc; }

.email_add {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 7px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer; }

.email_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer; }

#product_list {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0; }

.product_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%; }

.product_input {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 511px;
  height: 31px; }
  .product_input input {
    height: 31px;
    border: 1px #e5e5e5 solid;
    padding: 0 3px 0 3px;
    background: #fff;
    font-size: 14px;
    color: #36557e; }

#product_add {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 7px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer; }

.product_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer; }

.section_foto {
  position: relative;
  float: left;
  clear: both;
  margin: 8px 0 0 0;
  padding: 0;
  width: 86px;
  height: 56px;
  overflow: hidden; }

.section_doc {
  display: block;
  position: relative;
  float: left;
  clear: both; }
  .section_doc .icon {
    position: relative;
    float: left;
    clear: both; }
    .section_doc .icon a {
      position: relative;
      float: left;
      clear: both;
      font-size: 3em; }
  .section_doc .title {
    position: relative;
    float: left;
    clear: none;
    margin: 25px 0 0 10px;
    font: 16px/16px "Ubuntu", sans-serif;
    color: #000; }
    .section_doc .title span {
      padding: 0 0 0 10px;
      font-size: 14px;
      color: #438aec; }
  .section_doc .delete {
    position: relative;
    float: left;
    clear: none;
    margin: 25px 0 0 10px; }
    .section_doc .delete label {
      display: block;
      float: left;
      clear: both;
      margin: -2px 0 0 0;
      font-weight: normal; }
    .section_doc .delete input[type="checkbox"] {
      display: inline-block;
      margin: 4px 0 0 0;
      vertical-align: -3px; }

.section_foto_edit {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0; }

.section_foto_add {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0; }

.section_file {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px; }
  .section_file button {
    position: relative;
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
    width: 130px;
    height: 30px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4191ff', endColorstr='#0e4ca1', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4191ff), color-stop(100%, #0e4ca1));
    background-image: -webkit-linear-gradient(bottom, #0e4ca1 0%, #4191ff 100%);
    background-image: -moz-linear-gradient(bottom, #0e4ca1 0%, #4191ff 100%);
    background-image: -o-linear-gradient(bottom, #0e4ca1 0%, #4191ff 100%);
    background-image: -ms-linear-gradient(bottom, #0e4ca1 0%, #02050a 100%);
    background-image: linear-gradient(bottom, #0e4ca1 0%, #4191ff 100%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #fff; }
    .section_file button:hover {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f74646', endColorstr='#c11b1b', GradientType=0);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f74646), color-stop(100%, #c11b1b));
      background-image: -webkit-linear-gradient(bottom, #c11b1b 0%, #f74646 100%);
      background-image: -moz-linear-gradient(bottom, #c11b1b 0%, #f74646 100%);
      background-image: -o-linear-gradient(bottom, #c11b1b 0%, #f74646 100%);
      background-image: -ms-linear-gradient(bottom, #c11b1b 0%, #02050a 100%);
      background-image: linear-gradient(bottom, #c11b1b 0%, #f74646 100%); }
  .section_file div {
    position: relative;
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 30px;
    color: #36557e; }
    .section_file div span {
      display: block;
      padding: 7px 15px 0 15px;
      width: 270px;
      height: 17px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
  .section_file input[type=file] {
    position: absolute;
    top: 0;
    visibility: hidden; }

.section_file2 {
  position: relative;
  float: none;
  clear: both;
  margin: 16px auto 0;
  padding: 0;
  width: 130px;
  height: 30px;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 14px; }
  .section_file2 button {
    position: relative;
    float: left;
    clear: both;
    margin: 0;
    padding: 0;
    width: 130px;
    height: 30px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4191ff', endColorstr='#0e4ca1', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4191ff), color-stop(100%, #0e4ca1));
    background-image: -webkit-linear-gradient(bottom, #0e4ca1 0%, #4191ff 100%);
    background-image: -moz-linear-gradient(bottom, #0e4ca1 0%, #4191ff 100%);
    background-image: -o-linear-gradient(bottom, #0e4ca1 0%, #4191ff 100%);
    background-image: -ms-linear-gradient(bottom, #0e4ca1 0%, #02050a 100%);
    background-image: linear-gradient(bottom, #0e4ca1 0%, #4191ff 100%);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #fff; }
    .section_file2 button:hover {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f74646', endColorstr='#c11b1b', GradientType=0);
      background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f74646), color-stop(100%, #c11b1b));
      background-image: -webkit-linear-gradient(bottom, #c11b1b 0%, #f74646 100%);
      background-image: -moz-linear-gradient(bottom, #c11b1b 0%, #f74646 100%);
      background-image: -o-linear-gradient(bottom, #c11b1b 0%, #f74646 100%);
      background-image: -ms-linear-gradient(bottom, #c11b1b 0%, #02050a 100%);
      background-image: linear-gradient(bottom, #c11b1b 0%, #f74646 100%); }
  .section_file2 div {
    position: relative;
    float: left;
    clear: none;
    margin: 0;
    padding: 0;
    width: 300px;
    height: 30px;
    color: #36557e; }
    .section_file2 div span {
      display: block;
      opacity: 0;
      padding: 7px 15px 0 15px;
      width: 270px;
      height: 17px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
  .section_file2 input[type=file] {
    position: absolute;
    top: 0;
    visibility: hidden; }

.section_checkbox {
  position: relative;
  float: left;
  clear: both;
  margin: 3px 0 0 1px;
  padding: 0; }
  .section_checkbox .form_error {
    width: 100%; }
  .section_checkbox label {
    position: relative;
    float: left;
    clear: both;
    font-weight: normal; }
  .section_checkbox .form-group input[type=checkbox] {
    vertical-align: -2px;
    margin: 0 5px 0 0; }

.page_checkbox {
  position: relative;
  float: left;
  clear: none;
  margin: 1px 0 0 6px;
  padding: 0;
  width: 15px;
  height: 19px; }
  .page_checkbox input[type=checkbox] {
    display: none;
    margin: 0;
    padding: 0; }
    .page_checkbox input[type=checkbox] + label {
      background: url(/img/page_uncheck.png) 0 -3px no-repeat; }
    .page_checkbox input[type=checkbox]:checked + label {
      background: url(/img/page_check.png) 0 -3px no-repeat; }
  .page_checkbox label {
    display: inline;
    padding: 0 0 0 15px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #e02222; }

.page_checkbox_all {
  position: absolute;
  top: -1px;
  right: 14px;
  margin: 0;
  padding: 0;
  width: 15px;
  height: 19px; }
  .page_checkbox_all input[type=checkbox] {
    display: none;
    margin: 0;
    padding: 0; }
    .page_checkbox_all input[type=checkbox]:checked + label {
      background: url(/img/page_check_all.png) 0 -3px no-repeat; }
    .page_checkbox_all input[type=checkbox] + label {
      background: url(/img/page_uncheck_all.png) 0 -3px no-repeat; }
  .page_checkbox_all label {
    display: inline;
    padding: 0 0 0 15px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #e02222; }

.section_datetime {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%; }

.section_date {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 91px; }
  .section_date input {
    width: 83px;
    height: 31px;
    border: 1px #e5e5e5 solid;
    padding: 0 3px 0 3px;
    background: #fff;
    font-size: 14px;
    color: #36557e; }
    .section_date input::-webkit-input-placeholder {
      font-style: italic;
      font-size: 14px;
      color: #cccccc; }
    .section_date input:-moz-placeholder {
      font-style: italic;
      font-size: 14px;
      color: #cccccc; }
    .section_date input::-moz-placeholder {
      font-style: italic;
      font-size: 14px;
      color: #cccccc; }
    .section_date input:-ms-input-placeholder {
      font-style: italic;
      font-size: 14px;
      color: #cccccc; }

.section_slash {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 31px;
  height: 33px;
  display: table; }
  .section_slash span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
    color: #09090a; }

.section_time {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 80px; }

.section_time_input {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 55px; }
  .section_time_input input {
    width: 47px;
    height: 31px;
    border: 1px #e5e5e5 solid;
    padding: 0 3px 0 3px;
    background: #fff;
    font-size: 14px;
    color: #36557e; }
    .section_time_input input::-webkit-input-placeholder {
      font-style: italic;
      font-size: 14px;
      color: #cccccc; }
    .section_time_input input:-moz-placeholder {
      font-style: italic;
      font-size: 14px;
      color: #cccccc; }
    .section_time_input input::-moz-placeholder {
      font-style: italic;
      font-size: 14px;
      color: #cccccc; }
    .section_time_input input:-ms-input-placeholder {
      font-style: italic;
      font-size: 14px;
      color: #cccccc; }

.section_time_icon {
  position: relative;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
  width: 25px;
  height: 33px;
  background: url(/img/time_icon.jpg) 0 0 no-repeat;
  cursor: pointer; }

#section_gallery {
  position: relative;
  float: left;
  clear: both;
  margin: 11px 0 0 -14px;
  padding: 0;
  width: 100%; }

.section_block #section_gallery {
  min-width: 0; }

.section_gallerybox {
  position: relative;
  float: left;
  clear: both;
  margin: 11px 0 0 -14px;
  padding: 0;
  width: 100%; }

.section_gallery {
  position: relative;
  float: left;
  clear: none;
  margin: 10px 0 0 14px;
  padding: 0; }

.section_gallery_foto {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 191px;
  height: 142px;
  overflow: hidden;
  border: 3px #4f96f8 solid; }
  .section_gallery_foto img {
    max-width: none;
    max-height: none;
    position: absolute;
    border: 0; }

.section_gallery_foto_title {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  font: 14px/14px "Ubuntu", sans-serif;
  color: #438aec;
  text-align: center;
  width: 197px;
  word-wrap: break-word; }

.section_gallery_actions {
  position: absolute;
  top: 0;
  right: 0;
  width: 51px;
  height: 23px;
  background: url(/img/gallery_actions.png) 0 0 repeat; }

.section_gallery_editphoto {
  position: relative;
  float: left;
  clear: both;
  margin: 2px 0 0 5px;
  padding: 0;
  width: 20px;
  height: 18px;
  background: url(/img/editphoto.png) 0 0 no-repeat;
  cursor: pointer; }

.section_gallery_deletephoto {
  position: relative;
  float: left;
  clear: none;
  margin: 2px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer; }

.section_gallery_sort {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 40px;
  height: 30px; }
  .section_gallery_sort input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 3px 0 3px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    color: #36557e;
    text-align: center; }

.section_gallery_name {
  position: absolute;
  left: 3px;
  right: 3px;
  bottom: 3px;
  height: 30px; }
  .section_gallery_name input {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0 3px 0 3px;
    background: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    color: #36557e;
    text-align: center; }

.section_forms {
  display: block; }

.section_form {
  display: none; }
  .section_form > .section_block:nth-of-type(1) {
    margin: 20px 0 0 0; }
  .section_form > .section_block:nth-of-type(n+2) {
    border-top: 2px #84d6fc solid; }

.section_block {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%; }

.section_block_left {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 10px 10px 10px 10px;
  width: 50%; }
  .section_block_left > div {
    position: relative;
    float: left;
    clear: both;
    width: 100%; }

.section_block_right {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 10px 10px 10px 10px;
  width: 50%;
  border-left: 2px #84d6fc solid; }
  .section_block_right > div {
    position: relative;
    float: left;
    clear: both;
    width: 100%; }

.section_tabs {
  position: relative;
  float: left;
  clear: both;
  display: block;
  margin: 15px 0 0 -5px;
  padding: 0;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  color: #105bc3; }

.section_tab {
  position: relative;
  float: left;
  clear: none;
  margin: 0 15px 0 0;
  padding: 3px 5px 5px 5px;
  cursor: pointer; }
  .section_tab.hover {
    color: #09090a !important;
    background: #eeeeee;
    cursor: default !important; }
  .section_tab:hover {
    color: #e12828; }

#drop-files {
  position: relative;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  width: 100%;
  height: 98px;
  background: #d9e9ff;
  border: 3px dashed #000; }
  #drop-files p {
    display: block;
    position: relative;
    float: none;
    clear: both;
    margin: 15px auto 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    line-height: 22px;
    color: #061528;
    text-align: center; }

.section_block #drop-files {
  min-width: 0; }

.drop-files {
  position: relative;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  width: 100%;
  height: 98px;
  background: #d9e9ff;
  border: 3px dashed #000; }
  .drop-files p {
    display: block;
    position: relative;
    float: none;
    clear: both;
    margin: 15px auto 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 22px;
    line-height: 22px;
    color: #061528;
    text-align: center; }

#dropped-files {
  display: none;
  position: relative;
  float: left;
  clear: both;
  margin: 13px 0 0 -12px;
  padding: 0;
  width: 100%; }

#upload-button .upload {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 8px 0 11px 0;
  width: 212px;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4191ff', endColorstr='#0e4ca1', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4191ff), color-stop(100%, #0e4ca1));
  background-image: -webkit-linear-gradient(bottom, #0e4ca1 0%, #4191ff 100%);
  background-image: -moz-linear-gradient(bottom, #0e4ca1 0%, #4191ff 100%);
  background-image: -o-linear-gradient(bottom, #0e4ca1 0%, #4191ff 100%);
  background-image: -ms-linear-gradient(bottom, #0e4ca1 0%, #02050a 100%);
  background-image: linear-gradient(bottom, #0e4ca1 0%, #4191ff 100%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  color: #fff; }
  #upload-button .upload:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f74646', endColorstr='#c11b1b', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f74646), color-stop(100%, #c11b1b));
    background-image: -webkit-linear-gradient(bottom, #c11b1b 0%, #f74646 100%);
    background-image: -moz-linear-gradient(bottom, #c11b1b 0%, #f74646 100%);
    background-image: -o-linear-gradient(bottom, #c11b1b 0%, #f74646 100%);
    background-image: -ms-linear-gradient(bottom, #c11b1b 0%, #02050a 100%);
    background-image: linear-gradient(bottom, #c11b1b 0%, #f74646 100%); }

#upload-button .delete {
  position: relative;
  float: left;
  clear: none;
  margin: 9px 0 0 23px;
  padding: 0;
  font-size: 15px;
  line-height: 15px;
  color: #e02222;
  text-decoration: underline; }
  #upload-button .delete:hover {
    text-decoration: none; }

#loading {
  display: none;
  width: 100%;
  position: relative;
  margin: 50px 0 0 0; }

#loading-bar {
  width: 404px;
  height: 40px;
  background: #fff;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 2px; }

.loading-color {
  width: 0;
  height: 100%;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
  border-radius: inherit;
  background-color: #4edbf1; }

#loading-content {
  position: relative;
  top: 15px;
  font-size: 1.2em;
  font-weight: 500;
  text-align: center;
  width: 405px; }

#upload-button {
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 30px 0;
  padding: 0;
  width: 100%;
  z-index: 9999;
  display: none; }
  #upload-button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0 0 1000px 62px white, inset 0 -35px 40px -10px #0A9FCA;
    -moz-box-shadow: 0 0 1000px 62px white, inset 0 -35px 40px -10px #0A9FCA;
    box-shadow: 0 0 1000px 62px white, inset 0 -35px 40px -10px #0A9FCA;
    font-size: 20px;
    padding: 10px 20px;
    background-color: #4bc1e3;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
    #upload-button a:hover {
      -webkit-box-shadow: 0 0 1000px 62px white, inset 0 -5px 40px 0px #0A9FCA;
      -moz-box-shadow: 0 0 1000px 62px white, inset 0 -5px 40px 0px #0A9FCA;
      box-shadow: 0 0 1000px 62px white, inset 0 -5px 40px 0px #0A9FCA; }

.work_cat_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%; }

.section_block .work_cat_list {
  min-width: 0; }

.work_cat {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0; }

#work_cat_add {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 7px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer; }

.work_cat_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer; }

.chosen-search input {
  display: inline;
  float: none;
  clear: none;
  margin: 0; }

.work_recommended_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%; }

.work_recommended {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0; }

#work_recommended_add {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 7px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer; }

.work_recommended_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer; }

.property_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%; }

.property_value {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0; }
  .property_value > span {
    display: none;
    margin: 0 0 0 10px;
    text-decoration: underline;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer; }

#property_value_add {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 7px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer; }

.property_value_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer; }

.characteristic_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%; }

.characteristic_value {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0; }

#characteristic_add {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 7px;
  padding: 0;
  width: 21px;
  height: 21px;
  background: url(/img/add.png) 0 0 no-repeat;
  cursor: pointer; }

.characteristic_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 7px;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer; }

.filter {
  position: relative;
  float: left;
  clear: both;
  width: 100%; }
  .filter .row {
    margin-top: 20px; }

.filter_input {
  position: relative;
  float: left;
  clear: both;
  width: 300px; }
  .filter_input .form-group {
    margin: 0;
    width: 100%; }
  .filter_input input.form-control {
    padding: 0 4px 0 4px;
    height: 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.form-wysiwyg {
  width: 100%; }

.filter_select {
  position: relative;
  float: left;
  clear: none;
  margin: 0; }
  .filter_select .form-group {
    margin: 0;
    width: 100%; }
  .filter_select input.form-control {
    padding: 0 4px 0 4px;
    width: 250px;
    height: 34px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .filter_select select {
    padding: 0; }

.form-checkbox {
  margin-bottom: 0; }

.form-file.form-file .form_title {
  margin-top: 0; }

.filter_actions {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px; }

.statistic_filter {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  z-index: 2; }

.statistic_filter_title {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  width: 150px;
  font: 14px/14px 'Ubuntu', sans-serif; }

.statistic_filter_value {
  position: relative;
  float: left;
  clear: none;
  margin: 7px 0 0 0;
  width: 250px;
  font: 14px/14px 'Ubuntu', sans-serif; }

.statistic_filter_select {
  position: relative;
  float: left;
  clear: none;
  width: 250px; }

.statistic_filter_date1 {
  position: relative;
  float: left;
  clear: none;
  width: 120px; }
  .statistic_filter_date1 .form-group {
    margin: 0;
    width: 100%; }
  .statistic_filter_date1 input {
    padding: 0 5px 0 5px;
    width: 100%;
    height: 34px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.statistic_filter_date2 {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  width: 120px; }
  .statistic_filter_date2 .form-group {
    margin: 0;
    width: 100%; }
  .statistic_filter_date2 input {
    padding: 0 5px 0 5px;
    width: 100%;
    height: 34px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.statistic_filter_list {
  position: relative;
  float: left;
  clear: none;
  margin-top: -5px;
  width: calc(100% - 150px); }
  .statistic_filter_list .form_checkList {
    margin-top: 0; }
    .statistic_filter_list .form_checkList label {
      margin-right: 35px; }
      .statistic_filter_list .form_checkList label:nth-child(n+2) {
        clear: none; }

.statistic_filter_actions {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px; }

.user-table--actions {
  font-size: 1.5em !important; }

.form_title {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 18px 0 0 0;
  padding: 0;
  width: 100%;
  font: 400 16px/16px "Ubuntu", sans-serif;
  color: #09090a; }

.form_select {
  margin-bottom: 8px; }

.form_error {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 5px 0 0 0;
  padding: 0;
  width: 300px;
  font: 400 14px/14px "Ubuntu", sans-serif;
  color: #ff0000; }

input.form_input {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 8px 0 0 0;
  width: 100%;
  height: 31px;
  border: 1px #e5e5e5 solid;
  padding: 0 3px 0 3px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 400 14px/14px "Ubuntu", sans-serif;
  color: #36557e; }
  input.form_input::-webkit-input-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  input.form_input:-moz-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  input.form_input::-moz-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  input.form_input:-ms-input-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  input.form_input:focus {
    border: 1px #0000ff solid; }

textarea.form_input {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 8px 0 0 0;
  width: 100%;
  height: auto;
  border: 1px #e5e5e5 solid;
  padding: 5px 3px 5px 3px;
  background: #fff;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 400 14px/14px "Ubuntu", sans-serif;
  color: #36557e; }
  textarea.form_input::-webkit-input-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #ccc; }
  textarea.form_input:-moz-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #ccc; }
  textarea.form_input::-moz-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #ccc; }
  textarea.form_input:-ms-input-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #ccc; }
  textarea.form_input:focus {
    border: 1px #0000ff solid; }

.statistic_date_create .time {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #0000ff; }

.date_create .time {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #0000ff; }

.date_update .time {
  display: inline-block;
  font-size: 12px;
  line-height: 12px;
  color: #0000ff; }

.form_textarea {
  margin: 0;
  padding: 6px 3px 6px 3px;
  height: 80px;
  width: 511px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px #e5e5e5 solid;
  font: 14px "Ubuntu", sans-serif;
  color: #36557e;
  resize: none; }

.form_textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .form_textarea::-webkit-input-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  .form_textarea:-moz-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  .form_textarea::-moz-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }
  .form_textarea:-ms-input-placeholder {
    font-style: italic;
    font-size: 14px;
    color: #cccccc; }

.form_radio {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 12px 0 0 2px;
  padding: 0;
  width: 100%; }
  .form_radio label {
    display: block;
    position: relative;
    float: left;
    clear: both;
    padding: 10px 0 0 35px;
    font: 400 14px/14px "Ubuntu", sans-serif;
    color: #36557e; }
  .form_radio input[type=radio] {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 8px; }

.form_checkList {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 12px 0 0 2px;
  padding: 0;
  width: 100%; }
  .form_checkList label {
    display: block;
    position: relative;
    float: left;
    clear: both;
    padding: 11px 0 0 25px;
    font: 400 14px/14px "Ubuntu", sans-serif;
    color: #36557e; }
  .form_checkList input[type=checkbox] {
    position: absolute;
    width: 15px;
    height: 15px;
    left: 0;
    top: 8px; }

.main-logo {
  width: 100px;
  margin-top: 19px;
  margin-left: 40px; }

.form-id {
  width: 40px; }

.country_value_checkbox {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 6px;
  padding: 0; }
  .country_value_checkbox input[type=checkbox] {
    display: none;
    margin: 0;
    padding: 0; }
    .country_value_checkbox input[type=checkbox] + label {
      background: url(/img/uncheck.png) 0 1px no-repeat;
      -webkit-background-size: 15px 18px;
      -moz-background-size: 15px 18px;
      -ms-background-size: 15px 18px;
      -o-background-size: 15px 18px;
      background-size: 15px 18px; }
    .country_value_checkbox input[type=checkbox]:checked + label {
      background: url(/img/check.png) 0 1px no-repeat;
      -webkit-background-size: 15px 18px;
      -moz-background-size: 15px 18px;
      -ms-background-size: 15px 18px;
      -o-background-size: 15px 18px;
      background-size: 15px 18px;
      height: 18px; }
  .country_value_checkbox label {
    display: inline;
    padding: 3px 0 3px 19px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #e02222; }

#country_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 0 0; }

.country_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0; }

.country_values {
  position: relative;
  float: left;
  clear: both; }
  .country_values .form-group {
    width: 100%; }
  .country_values .form_title {
    margin-bottom: 10px; }
  .country_values .form_error {
    width: 100%; }

.country_iso {
  position: relative;
  float: left;
  clear: both;
  width: 200px; }

.country_date {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  width: 200px; }

.country_value label {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0; }

.country_actions {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px; }

.country_add {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer; }

.country_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer; }

.select2-container--krajee {
  float: left;
  clear: both; }

.form-hidden {
  display: none; }

.form-group {
  position: relative;
  float: left;
  clear: both;
  width: 100%; }
  .form-group.field-id_parent > .form_title {
    margin-bottom: 15px; }

#search .form-group {
  margin-bottom: 0; }

#industry_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 0 0; }

.industry_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0; }

.industry_values {
  position: relative;
  float: left;
  clear: both; }

.industry_value .form-group {
  width: 100%; }

.industry_value .form_title {
  margin-bottom: 10px; }

.industry_value .form_error {
  width: 100%; }

.industry_hs {
  position: relative;
  float: left;
  clear: both;
  width: 500px; }

.industry_value label {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0; }

.industry_actions {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px; }

.industry_add {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer; }

.industry_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer; }

.goods_value_checkbox {
  position: relative;
  float: left;
  clear: none;
  margin: 6px 0 0 6px;
  padding: 0; }
  .goods_value_checkbox input[type=checkbox] {
    display: none;
    margin: 0;
    padding: 0; }
    .goods_value_checkbox input[type=checkbox] + label {
      background: url(/img/uncheck.png) 0 1px no-repeat;
      -webkit-background-size: 15px 18px;
      -moz-background-size: 15px 18px;
      -ms-background-size: 15px 18px;
      -o-background-size: 15px 18px;
      background-size: 15px 18px; }
    .goods_value_checkbox input[type=checkbox]:checked + label {
      background: url(/img/check.png) 0 1px no-repeat;
      -webkit-background-size: 15px 18px;
      -moz-background-size: 15px 18px;
      -ms-background-size: 15px 18px;
      -o-background-size: 15px 18px;
      background-size: 15px 18px;
      height: 18px; }
  .goods_value_checkbox label {
    display: inline;
    padding: 3px 0 3px 19px;
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #e02222; }

#goods_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 0 0;
  width: 100%; }

.goods_value_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0; }

.goods_values {
  position: relative;
  float: left;
  clear: both;
  width: 400px; }

.goods_value input {
  margin: 0 !important; }

.goods_value .form-group {
  width: 100%; }

.goods_value .form_title {
  margin-bottom: 10px; }

.goods_value .form_error {
  width: 100%; }

.goods_hs_original {
  position: relative;
  float: left;
  clear: both;
  width: 100%; }

.goods_hs_original .form-group {
  margin-bottom: 10px; }

.goods_hs_fts {
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  width: 100%; }

.goods_value label {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0; }

.goods_actions {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px; }

.goods_add {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer; }

.goods_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer; }

.barrier-select {
  width: 100%; }
  .barrier-select select {
    position: relative;
    display: block;
    float: left;
    clear: both;
    width: 100%; }
  .barrier-select .select2-container {
    position: relative;
    display: block;
    float: left;
    clear: both; }

.post-search {
  position: relative;
  float: left;
  clear: both;
  margin-bottom: 20px;
  width: 100%; }

.alert {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#file_list {
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 0 0;
  width: 100%; }

.file_list {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0; }

.file_load {
  position: relative;
  float: left;
  clear: both;
  width: 600px; }
  .file_load .form-group {
    margin-bottom: 0; }

.file_list .form-group {
  width: 100%; }

.file_list .form_title {
  margin-bottom: 10px; }

.file_list .form_error {
  width: 100%; }

.file_title {
  position: relative;
  float: left;
  clear: both;
  width: 600px; }

.file_actions {
  position: relative;
  float: left;
  clear: none;
  margin: 20px 0 0 10px; }

.file_add {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer; }

.file_delete {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 0 10px;
  font-size: 1.5em;
  color: #265980;
  cursor: pointer; }

#section_block1, #section_block2 {
  display: none; }

#section_task {
  position: relative;
  float: left;
  clear: both;
  margin: 11px 0 0 -14px;
  padding: 0;
  width: 100%;
  min-width: 695px; }

.section_task_block {
  position: relative;
  float: left;
  clear: both;
  margin: 11px 0 0 -14px;
  padding: 0;
  width: 100%;
  min-width: 695px; }

.section_task {
  position: relative;
  float: left;
  clear: none;
  margin: 10px 0 0 14px;
  padding: 0;
  width: 67px; }

.section_task_photo {
  display: block;
  position: relative;
  float: left;
  clear: both;
  margin: 0;
  padding: 0;
  width: 65px;
  height: 89px;
  border: 1px #4f96f8 solid;
  overflow: hidden;
  text-decoration: none; }

.section_task_photo img {
  width: 65px;
  height: 89px;
  border: 0; }

.section_task_title {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  padding: 0;
  width: 100%;
  font: 14px/14px 'Ubuntu', sans-serif;
  color: #438aec;
  text-align: center;
  word-wrap: break-word; }

.section_task_actions {
  position: absolute;
  top: 0;
  right: 0;
  width: 17px;
  height: 20px;
  background: url(/img/gallery_actions.png) 0 0 repeat; }

.section_task_delete {
  position: relative;
  float: right;
  clear: both;
  margin: 1px 1px 0 0;
  padding: 0;
  width: 15px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer; }

#charts {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  margin-top: 20px; }
