@import "functions";

#option_box {
  display: table;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 710px;
  z-index: 4000;
}

.option_box {
  position: relative;
  float: left;
  clear: both;
  padding: 15px 25px 21px 25px;
  width: 700px;
  border: 5px #e52d29 solid;
  background: #fff;
  @include box-sizing(content-box);
}

#option_title {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  font: 300 30px/30px 'Exo 2', sans-serif;
  color: #0a2238;
}

#option_close {
  position: absolute;
  top: -32px;
  right: 0;
  width: 41px;
  height: 33px;
  z-index: 10000;
  background: url(/img/form_close.jpg) 0 0 no-repeat;
  cursor: pointer;
}

#option_status {
  display: none;
}

#option_list {
  display: table;
  position: relative;
  float: left;
  clear: both;
  margin: 17px 0 0 0;
  width: 100%;
}

.option_list {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 0 100px 0 0;
  @include box-sizing(content-box);
  width: 275px;
}

.option_check {
  position: relative;
  float: left;
  clear: both;
  margin: 13px 0 0 0;
  width: 100%;
}

.option_checkbox {
  position: relative;
  float: left;
  clear: both;
  margin: 1px 0 0 0;
  min-width: 160px;

  input[type=checkbox] {
    display: none;
    margin: 0;
    padding: 0;

    &:checked + label {
      background: url(/img/check.png) 0 3px no-repeat;
    }

    + label {
      background: url(/img/uncheck.png) 0 3px no-repeat;
    }
  }

  label {
    float: left;
    padding: 0 0 0 24px;
    font: 300 18px/18px 'Exo 2', sans-serif;
    color: #0a2238;
  }

  .photo {
    float: left;
    display: block;
    text-decoration: none;
    width: 18px;
    margin-left: 5px;

    img {
      display: block;
      width: 100%;
    }
  }
}

.option_slash {
  position: relative;
  float: left;
  clear: none;
  width: 25px;
  padding-left: 8px;
  font: 300 18px/18px 'Exo 2', sans-serif;
  color: #a8a8a8;
}

.option_price {
  position: relative;
  float: left;
  clear: none;
  margin: 1px 0 0 0;
  font: 300 18px/18px 'Exo 2', sans-serif;
  color: #0a2238;
}

.option_stripe {
  position: relative;
  float: left;
  clear: both;
  margin: 24px 0 0 0;
  width: 100%;
  height: 2px;
  background: #dfdfdf;
}

.option_sum {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

.option_sum_title {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
  padding: 0 30px 0 0;
  @include box-sizing(content-box);
  height: 36px;
  background: #fff;
  font: 16px/16px 'Exo 2', sans-serif;
  color: #000;
}

.option_sum_value {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 116px;
  height: 36px;
  background: #f7e9e9;
  font: 16px/16px 'Exo 2', sans-serif;
  color: #000;
}

.fancybox-button--shop {
  cursor: pointer;
  
  &.active {
    svg {
      path, circle {
        fill: #ff0000!important;
      }
    }
  }
}