@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic&subset=latin,cyrillic-ext);
@import url(//fonts.googleapis.com/css?family=Exo+2:300,300italic,400,400italic,500&subset=latin,cyrillic);
@import "functions";

#recycle_box {
  display: table;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 954px;
  z-index: 4000;
}

.recycle_box {
  position: relative;
  float: left;
  clear: both;
  padding: 15px 12px 21px 12px;
  width: 920px;
  border: 5px #e52d29 solid;
  @include box-sizing(content-box);
  background: #fff;
}

#recycle_title {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  font: 300 30px/30px 'Exo 2', sans-serif;
  color: #0a2238;
}

#recycle_close {
  position: absolute;
  top: -32px;
  right: 0;
  width: 41px;
  height: 33px;
  z-index: 10000;
  background: url(/img/form_close.jpg) 0 0 no-repeat;
  cursor: pointer;
}

#recycle_enter {
  position: relative;
  float: right;
  clear: both;
  margin: 23px 0 0 0;
  width: 166px;
  height: 40px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ee245', endColorstr='#0f9a07', GradientType=0);
  background: -webkit-gradient(linear, 0% 100%, 0% 100%, color-stop(0%, #0f9a07), color-stop(100%, #4ee245));
  background: -webkit-linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  background: -moz-linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  background: -o-linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  background: -ms-linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  background: linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font: 16px/16px 'Exo 2', sans-serif;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

#recycle_enter:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f9a07', endColorstr='#4ee245', GradientType=0);
  background: -webkit-gradient(linear, 0% 100%, 0% 100%, color-stop(0%, #4ee245), color-stop(100%, #0f9a07));
  background: -webkit-linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
  background: -moz-linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
  background: -o-linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
  background: -ms-linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
  background: linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
}

#recycle_enter span {
  display: block;
  padding: 12px 0 0 0;
}

#recycle_status {
  display: none;
}

#recycle_table {
  display: table;
  position: relative;
  float: left;
  clear: both;
  margin: 26px 0 0 0;
  width: 100%;
  border-collapse: collapse;
  @include box-sizing(border-box);
  border: 1px #f7e9e9 solid;
  border-bottom: 0;
  padding: 0;
}

#recycle_table .recycle_header {
  display: table-row;
}

#recycle_table .position_th {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 44px;
  background: #e52d29;
  border: 0;
  border-right: 1px #f7e9e9 solid;
  @include box-sizing(border-box);
  font: 14px/14px 'Exo 2', sans-serif;
  color: #fff;
}

#recycle_table .position_tr {
  display: table-row;
}

#recycle_table .position_tr:last-child .position_td {
  border-top: 2px #000 solid;
}

#recycle_table .position_td {
  display: table-cell;
  vertical-align: top;
  text-align: center;
  height: 69px;
  border-bottom: 1px #f7e9e9 solid;
  @include box-sizing(border-box);
  background: #fff;
  font: 13px/16px 'Exo 2', sans-serif;
  color: #000;
}

#recycle_table .first_th {
  text-align: left;
  padding: 0 0 0 10px;
  border-right: 1px #f7e9e9 solid;
}

#recycle_table .last_th {
}

#recycle_table .first_td {
  text-align: left;
  padding: 0 0 0 10px;
  border-right: 1px #f7e9e9 solid;
  @include box-sizing(content-box);
  font: 14px/18px 'Exo 2', sans-serif;
}

#recycle_table .last_td {
  padding: 29px 0 0 0;
  font: 16px/16px 'Exo 2', sans-serif;
  color: #000;
}

#recycle_table .sum_all_title {
  vertical-align: middle;
  text-align: right;
  padding: 0 29px 0 0;
  @include box-sizing(content-box);
  font: 16px/16px 'Exo 2', sans-serif;
  color: #000;
}

#recycle_table .sum_all_value {
  background: #f7e9e9;
}

.recycle_info {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  width: 100%;
    
  span[data-option] {
    position: relative;
    display: inline;
    cursor: pointer;
    
    + span[data-option] {
      padding-left: 10px;
    }
    
    &:after {
      display: inline-block;
      content: '';
      vertical-align: -2px;
      margin-left: 5px;
      width: 14px;
      height: 14px;
      background: url(/img/remove.png) 0 0 no-repeat;
      background-size: contain;
    }
  }
    
  .photo-recycle {
    display: inline-block;
    text-decoration: none;
    width: 18px;
    margin-left: 5px;
    vertical-align: -2px;
    
    img {
      display: block;
      width: 100%;
    }
  }
}

.recycle_manual {
  display: block;
  float: left;
  clear: both;
  color: #000;
}

.recycle_option_block {
  display: block;
  float: left;
  clear: both;
  padding-right: 50px;
}
  
.recycle_option {
  color: #df110c;
}

.recycle_university {
  font-style: italic;
  color: #272727;
}

.recycle_delete {
  position: absolute;
  top: 23px;
  right: 17px;
  width: 15px;
  height: 16px;
  background: url(/img/recycle_delete.jpg) 0 0 no-repeat;
  cursor: pointer;
}

#recycle_comments {
  position: relative;
  float: left;
  clear: both;
  margin: 8px 0 0 0;
  font: 18px/18px 'Exo 2', sans-serif;
  color: #ff0000;
}

#recycle_data {
  position: relative;
  float: right;
  clear: both;
  margin: 38px 0 0 0;
  font: 20px/20px 'Exo 2', sans-serif;
  color: #010101;
}

#recycle_input {
  position: relative;
  float: right;
  clear: both;
  margin: 6px 0 0 0;
  width: 272px;
}

.recycle_input {
  position: relative;
  float: right;
  clear: both;
  margin: 7px 0 0 0;
  width: 100%;
  
  input {
    padding: 0 7px 0 7px;
    width: 100%;
    height: 37px;
    background: #fff;
    @include box-sizing(border-box);
    border: 1px #cbcbcb solid;
    font: 16px 'Exo 2', sans-serif;
    text-align: right;
    color: #010101;
    
    @include placeholder() {
      color: #919191;
    }
  }
  
  p {
    display: block;
    margin: 0;
    color: #a94442;
    text-align: right;
  }
  
}
