@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic&subset=latin,cyrillic-ext);
@import url(//fonts.googleapis.com/css?family=Exo+2:300,300italic,400,400italic,500&subset=latin,cyrillic);
@import "functions";

#solution_box {
  display: table;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 654px;
  z-index: 4000;
  }

#solution_box > div {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 15px 12px 13px 12px;
  @include box-sizing(content-box);
  border: 5px #e52d29 solid;
  background: #fff;
  }

#solution_name {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  font: 300 30px/30px 'Exo 2', sans-serif;
  color: #0a2238;
  }

#solution_comments {
  position: relative;
  float: left;
  clear: both;
  margin: 12px 0 0 0;
  font: 18px/18px 'Exo 2', sans-serif;
  color: #ff0000;
  }

#solution_left {
  position: relative;
  float: left;
  clear: both;
  margin: 18px 0 0 0;
  width: 200px;
  }

#solution_data_title {
  position: relative;
  float: left;
  clear: both;
  font: 20px/20px 'Exo 2', sans-serif;
  color: #010101;
  }

#solution_data_input {
  position: relative;
  float: left;
  clear: both;
  margin: 6px 0 0 0;
  width: 100%;
  }

.solution_data_input {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  width: 100%;

  input {
    padding: 0 7px 0 7px;
    width: 100%;
    height: 37px;
    background: #fff;
    @include box-sizing(border-box);
    border: 1px #cbcbcb solid;
    font: 16px 'Exo 2', sans-serif;
    color: #010101;

    @include placeholder() {
      color: #919191;
      }
    }

  p {
    display: block;
    margin: 0;
    color: #a94442;
    text-align: right;
    }

  }

#solution_right {
  position: relative;
  float: right;
  clear: none;
  margin: 18px 0 0 0;
  width: 272px;
  }

#solution_contacts_title {
  position: relative;
  float: right;
  clear: both;
  font: 20px/20px 'Exo 2', sans-serif;
  color: #010101;
  }

#solution_contacts_input {
  position: relative;
  float: right;
  clear: both;
  margin: 6px 0 0 0;
  width: 272px;
  }

.solution_contacts_input {
  position: relative;
  float: left;
  clear: both;
  margin: 7px 0 0 0;
  width: 100%;

  input {
    padding: 0 7px 0 7px;
    width: 100%;
    height: 37px;
    background: #fff;
    @include box-sizing(border-box);
    border: 1px #cbcbcb solid;
    font: 16px 'Exo 2', sans-serif;
    text-align: right;
    color: #010101;

    @include placeholder() {
      color: #919191;
      }
    }

  p {
    display: block;
    margin: 0;
    color: #a94442;
    text-align: right;
    }
  }

#solution_close {
  position: absolute;
  top: -32px;
  right: 0;
  width: 41px;
  height: 33px;
  z-index: 10000;
  background: url(/img/form_close.jpg) 0 0 no-repeat;
  cursor: pointer;
  }

#solution_file {
  position: relative;
  float: left;
  clear: both;
  margin: 21px 0 0 0;
  width: 300px;
  font: 14px/14px 'Ubuntu', sans-serif;
  color: #000;

  button {
    position: relative;
    float: left;
    clear: both;
    padding: 1px 0 0 0;
    width: 152px;
    height: 32px;
    background: #fff;
    border: 2px #000 solid;
    font: 14px/14px 'Ubuntu', sans-serif;
    @include box-sizing(border-box);
    outline: none;
    cursor: pointer;
    color: #000;

    &:hover {
      background: #000;
      color: #fff;
      }
    }



  > div {
    position: relative;
    float: left;
    clear: both;
    margin: 8px 0 0 0;

    .solution_file {
      float: left;
      clear: both;

      &:nth-of-type(n+2) {
        margin: 10px 0 0 0;
        }
      }

    .solution_file_name {
      position: relative;
      float: left;
      clear: both;
      height: 14px;
      font: italic 12px/14px 'Ubuntu', sans-serif;
      text-decoration: underline;
      color: #000;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      }

    .solution_file_remove {
      position: relative;
      float: left;
      clear: none;
      margin: 2px 0 0 6px;
      width: 13px;
      height: 13px;
      background: url(/img/order_remove.jpg) 0 0 no-repeat;
      cursor: pointer;
      }
    }

  input[type=file] {
    position: absolute;
    top: 0;
    visibility: hidden;
    }

  p {
    display: block;
    position: relative;
    float: left;
    clear: both;
    margin: 0;
    color: #a94442;
    }
  }

#solution_enter {
  position: relative;
  float: right;
  clear: none;
  margin: 21px 0 0 0;
  width: 166px;
  height: 40px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ee245', endColorstr='#0f9a07', GradientType=0);
  background: -webkit-gradient(linear, 0% 100%, 0% 100%, color-stop(0%, #0f9a07), color-stop(100%, #4ee245));
  background: -webkit-linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  background: -moz-linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  background: -o-linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  background: -ms-linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  background: linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font: 16px/16px 'Exo 2', sans-serif;
  color: #fff;
  text-align: center;
  cursor: pointer;
  }

#solution_enter:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f9a07', endColorstr='#4ee245', GradientType=0);
  background: -webkit-gradient(linear, 0% 100%, 0% 100%, color-stop(0%, #4ee245), color-stop(100%, #0f9a07));
  background: -webkit-linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
  background: -moz-linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
  background: -o-linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
  background: -ms-linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
  background: linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
  }

#solution_enter span {
  display: block;
  padding: 12px 0 0 0;
  }