@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic&subset=latin,cyrillic-ext);
@import url(//fonts.googleapis.com/css?family=Exo+2:300,300italic,400,400italic,500&subset=latin,cyrillic);
@import "functions";

a {
  outline: 0;
}

h1 {
  margin: 0 !important;
}

.chosen_template {
  color: #000;
  
  &.chosen-container .chosen-drop {
    border: 3px #e52d29 solid;
    border-top: 0;
    box-shadow: none;
  }
  
  &.chosen-container-single .chosen-drop {
    border-radius: 0;
  }
  
  &.chosen-container .chosen-results li.highlighted {
    background-image: none;
  }
  
  &.chosen-container-active.chosen-with-drop .chosen-single {
    background-image: none;
    box-shadow: none;
  }
  
  &.chosen-container-active .chosen-choices {
    box-shadow: none;
  }
  
  &.chosen-container-single .chosen-single {
    padding: 0 0 0 5px;
    height: 38px;
    border: 3px #e52d29 solid;
    border-radius: 0;
    box-shadow: none;
    background-image: none;
    
    div {
      width: 34px;
      height: 32px;
      background-color: #e52d29;
      background-image: url(/img/select_arrow.png);
      background-position: 9px 14px;
      background-repeat: no-repeat;
      border: 0;
      border-left: 3px #e52d29 solid;
      
      b {
        background: transparent;
      }
    }
  }
  
  &.chosen-container-single .chosen-search input[type="text"] {
    background-image: none;
  }
  
  &.chosen-container-active .chosen-single-with-drop {
    background-color: #fff;
  }
  
  a.chosen-single {
    &:link {
      color: #000;
    }
    &:visited {
      color: #000;
    }
  }
  
  &.chosen-container-single .chosen-search input[type="text"] { border: 1px #e5e5e5 solid; }
  
  &.chosen-container-multi {
    ul.chosen-choices {
      border: 1px #e5e5e5 solid;
    }
    .chosen-choices .search-choice {
      background-color: #fff;
    }
  }
  
  &.chosen-container-single .chosen-default span { color: #c1c1c1 !important; }
  
  &.chosen-container-single .chosen-single span {
    margin: 4px 0 0 0;
    float: left;
    font-family: 'Exo 2', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    text-align: left;
    letter-spacing: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Exo 2', sans-serif;
  font-weight: normal;
  font-style: normal;
  @include box-sizing(border-box);
  margin: 0 auto;
  max-width: 1920px;
  min-width: 1000px;
  background: #fff;
  overflow-x: hidden;
  z-index: 0;
  zoom: 1;
}

input, textarea, select {
  outline: 0;
}

.show_box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  width: 100%;
  height: 100%;
  min-height: 768px;
  z-index: 1000;
  display: none;
  opacity: 0.85;
  filter: alpha(opacity=85);
}

#show_box {
  left: 0;
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 3000;
  display: none;
}

.container {
  position: relative;
  float: left;
  clear: both;
  padding: 0;
  width: 100% !important;
  height: 100%;
}

.container_fon {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  background-image: url(/video/background.jpg);
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-position: 0 0;
  background-repeat: no-repeat;
}

#container {
  position: relative;
  float: none;
  clear: both;
  margin: 0 auto 0;
  max-width: 1920px;
  min-width: 1000px;
  width: 100%;
  height: auto;
  @include box-sizing(content-box);
}

#header {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 117px;
  z-index: 2;
}

#header_left {
  position: relative;
  float: left;
  clear: both;
  margin: 39px 0 0 60px;
}

#logo {
  display: block;
  position: relative;
  float: left;
  clear: both;
  width: 206px;
  height: 56px;
  background: url(/img/logo.png) 0 0 no-repeat;
  text-decoration: none;
}

#header_right {
  position: relative;
  float: right;
  clear: none;
  margin: 42px 60px 0 0;
}

#order_click {
  display: block;
  position: relative;
  float: right;
  clear: none;
  margin: 6px 0 0 0;
  padding: 12px 14px 13px 14px;
  background: #e52d29;
  font: 15px/15px 'Exo 2', sans-serif;
  text-decoration: none;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

#order_click:hover {
  background: #f95d5a;
}

#reverse_click {
  position: relative;
  float: right;
  clear: none;
  margin: 6px 14px 0 0;
  padding: 12px 15px 13px 15px;
  background: #828282;
  @include border-radius(2px);
  font: 15px/15px 'Exo 2', sans-serif;
  color: #fff;
  cursor: pointer;
}

#reverse_click:hover {
  background: #b5b5b5;
}

#vk {
  display: block;
  position: relative;
  float: right;
  clear: none;
  margin: 6px 14px 0 0;
  width: 40px;
  height: 40px;
  background: url(/img/vk.png) 0 0 no-repeat;
  text-decoration: none;
}

#menu {
  position: relative;
  float: right;
  clear: none;
  margin: 0 5px 0 0;
  font: 18px/18px 'Exo 2', sans-serif;
  color: #fff;
}

.menu {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 25px 0 0;
  padding: 14px 13px 14px 13px;
  border: 2px transparent solid;
  text-decoration: underline;
  color: #fff;
  
  &:hover, &.active {
    border: 2px #fff solid;
    text-decoration: none;
    color: #fff;
  }
}

@media screen and (min-width: 1400px) {
  #header_left {
    margin: 39px 0 0 60px;
  }
  
  #header_right {
    margin: 42px 60px 0 0;
  }
  
  #order_click {
    padding: 12px 14px 13px 14px;
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  #reverse_click {
    margin: 6px 14px 0 0;
    padding: 12px 15px 13px 15px;
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  #vk {
    margin: 6px 14px 0 0;
  }
  
  #menu {
    font: 18px/18px 'Exo 2', sans-serif;
  }
  
  .menu {
    margin: 0 25px 0 0;
    padding: 14px 13px 14px 13px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
  #header_left {
    margin: 39px 0 0 47px;
  }
  
  #header_right {
    margin: 42px 47px 0 0;
  }
  
  #order_click {
    padding: 12px 12px 13px 12px;
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  #reverse_click {
    margin: 6px 12px 0 0;
    padding: 12px 13px 13px 13px;
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  #vk {
    margin: 6px 12px 0 0;
  }
  
  #menu {
    font: 17px/17px 'Exo 2', sans-serif;
  }
  
  .menu {
    margin: 0 23px 0 0;
    padding: 14px 11px 15px 11px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  #header_left {
    margin: 39px 0 0 37px;
  }
  
  #header_right {
    margin: 42px 37px 0 0;
  }
  
  #order_click {
    padding: 12px 11px 13px 11px;
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  #reverse_click {
    margin: 6px 10px 0 0;
    padding: 12px 12px 13px 12px;
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  #vk {
    margin: 6px 10px 0 0;
  }
  
  #menu {
    font: 16px/16px 'Exo 2', sans-serif;
  }
  
  .menu {
    margin: 0 20px 0 0;
    padding: 15px 10px 15px 10px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
  #header_left {
    margin: 39px 0 0 27px;
  }
  
  #header_right {
    margin: 42px 27px 0 0;
  }
  
  #order_click {
    padding: 12px 10px 13px 10px;
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  #reverse_click {
    margin: 6px 10px 0 0;
    padding: 12px 10px 13px 10px;
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  #vk {
    margin: 6px 10px 0 0;
  }
  
  #menu {
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  .menu {
    margin: 1px 12px 0 0;
    padding: 15px 9px 15px 9px;
  }
}

@media screen and (max-width: 1100px) {
  #header_left {
    margin: 39px 0 0 20px;
  }
  
  #header_right {
    margin: 42px 20px 0 0;
  }
  
  #order_click {
    padding: 13px 10px 13px 10px;
    font: 14px/14px 'Exo 2', sans-serif;
  }
  
  #reverse_click {
    margin: 6px 8px 0 0;
    padding: 13px 10px 13px 10px;
    font: 14px/14px 'Exo 2', sans-serif;
  }
  
  #vk {
    margin: 6px 10px 0 0;
  }
  
  #menu {
    font: 13px/13px 'Exo 2', sans-serif;
  }
  
  .menu {
    margin: 1px 8px 0 0;
    padding: 15px 8px 15px 8px;
  }
}

#main_header {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 81px;
  background: #fff;
  z-index: 2;
}

#main_header_left {
  position: relative;
  float: left;
  clear: both;
  margin: 17px 0 0 60px;
}

#main_logo {
  display: block;
  position: relative;
  float: left;
  clear: both;
  width: 288px;
  height: 54px;
  background: url(/img/main_logo.png) 0 0 no-repeat;
  text-decoration: none;
}

#main_header_right {
  position: relative;
  float: right;
  clear: none;
  margin: 14px 60px 0 0;
}

#main_order_click {
  display: block;
  position: relative;
  float: right;
  clear: none;
  margin: 6px 0 0 0;
  padding: 12px 14px 13px 14px;
  background: #e52d29;
  @include border-radius(2px);
  font: 15px/15px 'Exo 2', sans-serif;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

#main_order_click:hover {
  background: #f95d5a;
}

#main_reverse_click {
  position: relative;
  float: right;
  clear: none;
  margin: 6px 14px 0 0;
  padding: 12px 15px 13px 15px;
  background: #828282;
  @include border-radius(2px);
  font: 15px/15px 'Exo 2', sans-serif;
  color: #fff;
  cursor: pointer;
  
  &:hover {
    background: #b5b5b5;
  }
}

#main_vk {
  display: block;
  position: relative;
  float: right;
  clear: none;
  margin: 6px 14px 0 0;
  width: 40px;
  height: 40px;
  background: url(/img/vk.png) 0 0 no-repeat;
  text-decoration: none;
}

#main_menu {
  position: relative;
  float: right;
  clear: none;
  margin: 0 5px 0 0;
  font: 18px/18px 'Exo 2', sans-serif;
  color: #000;
}

.main_menu {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 25px 0 0;
  padding: 14px 13px 14px 13px;
  border: 2px transparent solid;
  text-decoration: underline;
  color: #000;
  
  &:hover, &.active {
    border: 2px #525252 solid;
    text-decoration: none;
  }
}

@media screen and (min-width: 1500px) {
  #main_header_left {
    margin: 17px 0 0 60px;
  }
  
  #main_header_right {
    margin: 14px 60px 0 0;
  }
  
  #main_order_click {
    padding: 12px 14px 13px 14px;
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  #main_reverse_click {
    margin: 6px 14px 0 0;
    padding: 12px 15px 13px 15px;
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  #main_vk {
    margin: 6px 14px 0 0;
  }
  
  #main_menu {
    font: 18px/18px 'Exo 2', sans-serif;
  }
  
  .main_menu {
    margin: 0 25px 0 0;
    padding: 14px 13px 14px 13px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1500px) {
  #main_header_left {
    margin: 17px 0 0 50px;
  }
  
  #main_header_right {
    margin: 14px 50px 0 0;
  }
  
  #main_order_click {
    padding: 12px 12px 13px 12px;
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  #main_reverse_click {
    margin: 6px 12px 0 0;
    padding: 12px 13px 13px 13px;
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  #main_vk {
    margin: 6px 12px 0 0;
  }
  
  #main_menu {
    font: 17px/17px 'Exo 2', sans-serif;
  }
  
  .main_menu {
    margin: 0 22px 0 0;
    padding: 14px 12px 15px 12px;
  }
}

@media screen and (min-width: 1300px) and (max-width: 1400px) {
  #main_header_left {
    margin: 17px 0 0 35px;
  }
  
  #main_header_right {
    margin: 14px 35px 0 0;
  }
  
  #main_order_click {
    padding: 13px 10px 13px 10px;
    font: 14px/14px 'Exo 2', sans-serif;
  }
  
  #main_reverse_click {
    margin: 6px 12px 0 0;
    padding: 13px 10px 13px 10px;
    font: 14px/14px 'Exo 2', sans-serif;
  }
  
  #main_vk {
    margin: 6px 12px 0 0;
  }
  
  #main_menu {
    font: 16px/16px 'Exo 2', sans-serif;
  }
  
  .main_menu {
    margin: 0 18px 0 0;
    padding: 15px 10px 15px 10px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  #main_header_left {
    margin: 17px 0 0 27px;
  }
  
  #main_header_right {
    margin: 14px 27px 0 0;
  }
  
  #main_order_click {
    padding: 13px 8px 13px 8px;
    font: 14px/14px 'Exo 2', sans-serif;
  }
  
  #main_reverse_click {
    margin: 6px 10px 0 0;
    padding: 13px 8px 13px 8px;
    font: 14px/14px 'Exo 2', sans-serif;
  }
  
  #main_vk {
    margin: 6px 10px 0 0;
  }
  
  #main_menu {
    font: 15px/15px 'Exo 2', sans-serif;
  }
  
  .main_menu {
    margin: 0 15px 0 0;
    padding: 15px 10px 16px 10px;
  }
}

@media screen and (min-width: 1100px) and (max-width: 1200px) {
  #main_header_left {
    margin: 17px 0 0 20px;
  }
  
  #main_header_right {
    margin: 14px 20px 0 0;
  }
  
  #main_order_click {
    padding: 13px 8px 14px 8px;
    font: 13px/13px 'Exo 2', sans-serif;
  }
  
  #main_reverse_click {
    margin: 6px 10px 0 0;
    padding: 13px 8px 14px 8px;
    font: 13px/13px 'Exo 2', sans-serif;
  }
  
  #main_vk {
    margin: 6px 8px 0 0;
  }
  
  #main_menu {
    font: 14px/14px 'Exo 2', sans-serif;
  }
  
  .main_menu {
    margin: 1px 8px 0 0;
    padding: 15px 9px 15px 9px;
  }
}

@media screen and (max-width: 1100px) {
  #main_header_left {
    margin: 17px 0 0 15px;
  }
  
  #main_header_right {
    margin: 14px 15px 0 0;
  }
  
  #main_order_click {
    padding: 14px 7px 14px 7px;
    font: 12px/12px 'Exo 2', sans-serif;
  }
  
  #main_reverse_click {
    margin: 6px 8px 0 0;
    padding: 14px 7px 14px 7px;
    font: 12px/12px 'Exo 2', sans-serif;
  }
  
  #main_vk {
    margin: 6px 7px 0 0;
  }
  
  #main_menu {
    font: 12px/12px 'Exo 2', sans-serif;
  }
  
  .main_menu {
    margin: 2px 7px 0 0;
    padding: 15px 8px 15px 8px;
  }
}

#slogan {
  display: table;
  position: relative;
  float: none;
  clear: both;
  margin: 0 auto 0;
  padding: 178px 0 0 0;
  @include box-sizing(content-box);
  min-width: 1000px;
  max-width: 1224px;
  height: 104px;
  font: 60px/52px 'Exo 2', sans-serif;
  color: #fff;
}

#slogan span {
  font-size: 26px;
}

.slogan {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 104px;
  
  > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 5px 0 5px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.73), -2px -2px 5px rgba(0, 0, 0, 0.73);
  }
}

@media screen and (min-width: 1200px) {
  #slogan {
    font: 60px/52px 'Exo 2', sans-serif;
  }
  
  #slogan span {
    font-size: 26px;
  }
  
  .slogan {
    height: 104px;
  }
}

@media screen and (max-width: 1200px) {
  #slogan {
    height: 96px;
    font: 54px/48px 'Exo 2', sans-serif;
  }
  
  #slogan span {
    font-size: 24px;
  }
  
  .slogan {
    height: 96px;
  }
}

#advantages {
  display: table;
  position: relative;
  float: none;
  clear: both;
  margin: 91px auto 0;
  max-width: 1224px;
  min-width: 1000px;
  font: 300 24px/29px 'Exo 2', sans-serif;
  color: #fff;
}

.advantage {
  display: table;
  position: relative;
  float: left;
  clear: none;
  height: 160px;
  
  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 0 25px 0 25px;
    @include box-sizing(content-box);
    background: #e52d29;
    background: rgba(229, 45, 41, 0.35);
    border: 4px #e52d29 solid;
  }
}

#advantage1, #advantage2, #advantage3 {
  width: 32.5%;
}

#advantage2 {
  margin: 0 1.25% 0 1.25%;
}

#content {
  position: relative;
  float: left;
  clear: both;
  padding: 0 60px 0 60px;
  @include box-sizing(border-box);
  width: 100%;
  height: 100%;
  background: #fff;
}

#write {
  position: relative;
  float: right;
  clear: none;
  margin: 14px 0 0 0;
  width: 181px;
  height: 35px;
  background: #b50c0f;
  border: 1px #b50c0f solid;
  font: 300 18px/18px 'Ubuntu', sans-serif;
  color: #fff;
  text-align: center;
  cursor: pointer;
  
  &:hover {
    background: transparent;
    border: 1px #babbbe solid;
  }
  
  span {
    display: block;
    padding: 8px 0 0 0;
  }
}

#catalog {
  position: relative;
  float: left;
  clear: both;
  padding: 0 0 34px 0;
  width: 100%;
}

#catalog_searchbox {
  display: table;
  position: relative;
  float: left;
  clear: both;
  margin: 14px 0 0 0;
  width: 100%;
}

#catalog_university {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 10px 19px 0 0;
  width: 280px;
  
  select {
    border: 3px #e52d29 solid;
    padding: 0 43px 0 11px;
    width: 250px;
    height: 38px;
    background-color: #fff;
    background-image: url(/img/select_arrow.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    @include background-size(34px 32px);
    @include appearence(none);
    @include box-sizing(border-box);
    font: 300 20px/20px 'Exo 2', sans-serif;
    text-overflow: '';
    text-indent: 0.01px;
    color: #000;
    cursor: pointer;
  }
}

#catalog_search {
  position: relative;
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 10px 0 0 0;
  width: 100%;
}

.catalog_search {
  position: relative;
  display: table;
  width: 100%;
}

.catalog_search_input {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  width: 100%;
}

.catalog_search_input input {
  padding: 0 13px 0 13px;
  border: 3px #e52d29 solid;
  @include box-sizing(border-box);
  width: 100%;
  height: 38px;
  background: #fff;
  font: 300 20px 'Exo 2', sans-serif;
  color: #000;
}

.catalog_search_input input::-moz-placeholder, .catalog_search_input input::-webkit-input-placeholder {
  color: #c1c1c1;
}

.catalog_search_icon {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 0 0 0 8px;
}

#catalog_search_icon {
  position: relative;
  float: left;
  clear: both;
  width: 56px;
  height: 38px;
  background: url(/img/catalog_search.jpg) 0 0 no-repeat;
  cursor: pointer;
}

#catalog_recyclebox {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 0 0 0 22px;
}

#catalog_recycle {
  position: relative;
  float: left;
  clear: both;
  padding: 9px 13px 16px 9px;
  @include box-sizing(border-box);
  width: 225px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fea6a4', endColorstr='#cb0400', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #cb0400), color-stop(50%, #f03e3a), color-stop(53%, #fb5451), color-stop(100%, #fea6a4));
  background-image: -webkit-linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  background-image: -moz-linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  background-image: -o-linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  background-image: -ms-linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  background-image: linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  cursor: pointer;
}

#catalog_recycle_icon {
  position: relative;
  float: left;
  clear: both;
  margin: 0 13px 0 0;
  width: 43px;
  height: 32px;
  background: url(/img/recycle.png) 0 0 no-repeat;
}

#catalog_recycle_sum {
  position: relative;
  float: right;
  clear: none;
  margin: 4px 0 0 0;
  font: 300 28px/28px 'Exo 2', sans-serif;
  color: #fff;
}

#catalog_text {
  position: relative;
  float: left;
  clear: both;
  margin: 27px 0 0 0;
  width: 100%;
  font: 18px/21px 'Exo 2', sans-serif;
  text-align: justify;
  color: #000;
  
  a {
    text-decoration: underline;
    color: #e52d29;
    
    &:hover {
      text-decoration: none;
    }
  }
  
  h2 {
    margin: 10px 0 11px 0;
    font: 300 24px/24px 'Exo 2', sans-serif;
    color: #000;
    
    a {
      text-decoration: none;
      color: #f10000;
      
      &:hover {
        text-decoration: none;
      }
    }
  }
  
  ul {
    padding: 0 0 0 10px;
    
    li {
      margin: 0 0 0 10px;
    }
  }
  
  p {
    margin: 10px 0 11px 0;
  }
  
}

#catalog_title {
  position: relative;
  float: left;
  clear: both;
  margin: 9px 0 0 0;
  width: 100%;
  
  h1 {
    display: block;
    position: relative;
    float: left;
    clear: both;
    font: 18px/28px 'Exo 2', sans-serif;
    color: #a5a5a5;
    
    a {
      font: 18px/28px 'Exo 2', sans-serif;
      text-decoration: underline;
      color: #a5a5a5;
      
      &:hover {
        text-decoration: none;
      }
    }
    
    span {
      font: 28px/28px 'Exo 2', sans-serif;
      color: #000;
    }
  }
}

#catalog_cat {
  position: relative;
  float: none;
  clear: both;
  padding: 23px 0 0 0;
  width: 1800px;
  -moz-transform: scale(1);
  -moz-transform-origin: left top;
  -o-transform: scale(1);
  -o-transform-origin: left top;
}

.catalog_cat {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 16px 24px 0;
  width: 420px;
  height: 271px;
  border: 5px #4c4c4c solid;
  @include box-sizing(content-box);
  text-decoration: none;
  z-index: 1;
  
  &:hover {
    border: 5px #e52d29 solid;
  }
}

.catalog_cat_foto {
  position: relative;
  float: left;
  clear: both;
  width: 420px;
  height: 271px;
  overflow: hidden;
  z-index: 1;
}

.catalog_cat_foto img {
  @extend .img-relative;
}

.catalog_cat_base {
  display: table;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  width: 100%;
  height: 71px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.catalog_cat:hover .catalog_cat_base {
  background: #e52d29;
}

.catalog_cat_base span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font: 300 21px/21px 'Exo 2', sans-serif;
  zoom: 1 !important;
  color: #fff;
}

#catalog_order {
  display: table;
  position: relative;
  float: left;
  clear: both;
  margin: 9px 0 0 0;
  width: 100%;
  height: 105px;
  background: url(/img/order_fon.jpg) top center no-repeat;
  
  > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}

#catalog_order_title {
  display: table;
  position: relative;
  float: none;
  clear: both;
  margin: 0 auto 0;
  font: 36px/36px 'Exo 2', sans-serif;
  text-align: center;
  color: #fff;
  
  a {
    text-decoration: underline;
    color: #fff;
    
    &:hover {
      text-decoration: none;
    }
  }
}

#catalog_subcat {
  position: relative;
  float: left;
  clear: both;
  margin: 33px 0 0 0;
  width: 100%;
  z-index: 1;
}

.catalog_subcat {
  display: block;
  position: relative;
  float: left;
  clear: none;
  height: 198px;
  text-decoration: none;
  z-index: 1;
}

@media screen and (min-width: 1600px) {
  .catalog_subcat {
    margin: 0 3% 62px 0;
    width: 22.5%;
  }
  
  .catalog_subcat:nth-of-type(4n) {
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .catalog_subcat {
    margin: 0 2.75% 62px 0;
    width: 31.5%;
  }
  
  .catalog_subcat:nth-of-type(3n) {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 1199px) {
  .catalog_subcat {
    margin: 0 3% 62px 0;
    width: 48.5%;
  }
  
  .catalog_subcat:nth-of-type(even) {
    margin-right: 0 !important;
  }
}

.catalog_subcat_box {
  display: table;
  width: 100%;
}

.catalog_subcat_fotobox {
  width: 148px;
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.catalog_subcat_foto {
  position: relative;
  float: left;
  clear: both;
  width: 140px;
  height: 188px;
  border: 4px #4c4c4c solid;
  overflow: hidden;
  z-index: 1;
}

.catalog_subcat:hover .catalog_subcat_foto {
  border: 4px #e52d29 solid;
}

.catalog_subcat_foto img {
  position: absolute;
  max-width: none;
  max-height: none;
  border: 0;
}

.catalog_subcat_info {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 0 0 0 23px;
}

.catalog_subcat:hover .catalog_subcat_info {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.catalog_subcat_title {
  position: relative;
  float: left;
  clear: none;
  margin: -4px 0 23px 0;
  width: 100%;
  font: 300 18px/21px 'Exo 2', sans-serif;
  word-wrap: break-word;
  text-decoration: none;
  color: #000;
}

.catalog_subcat:hover .catalog_subcat_title {
  text-decoration: underline;
  color: #e52d29;
}

.catalog_subcat_desc {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

.catalog_subcat_position {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  font: 300 16px/19px 'Exo 2', sans-serif;
  color: #545454;
}

.catalog_subcat_position1 {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  width: 59px;
  color: #000;
}

.catalog_subcat_position2 {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.position {
  display: none;
  position: absolute;
  padding: 11px 14px 9px 8px;
  border: 1px #000 solid;
  @include box-sizing(border-box);
  width: 630px;
  height: 420px;
  background: #fff;
  z-index: 2;
  zoom: 1 !important;
}

.position_foto {
  position: relative;
  float: left;
  clear: both;
  width: 283px;
  height: 388px;
  border: 5px #525252 solid;
  overflow: hidden;
}

.position_foto img {
  position: absolute;
  max-width: none;
  max-height: none;
  border: 0;
}

.position_info {
  position: relative;
  float: right;
  clear: none;
  margin: -2px 0 0 0;
  width: 297px;
}

.position_title {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 21px 0;
  width: 100%;
  font: 300 18px/21px 'Exo 2', sans-serif;
  color: #000;
}

.position_desc {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

.position_pos {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  font: 300 16px/19px 'Exo 2', sans-serif;
  color: #545454;
}

.position_pos1 {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  width: 59px;
  color: #000;
}

.position_pos2 {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.position_text {
  position: relative;
  float: left;
  clear: both;
  margin: 36px 0 0 0;
  font: 300 16px/19px 'Exo 2', sans-serif;
  color: #545454;
  text-align: justify;
}

.position_text a { text-decoration: underline; color: #e52d29; }

.position_text a:hover { text-decoration: none; }

.position_text ul {
  padding: 0 0 0 10px;
}

.position_text ul li {
  margin: 0 0 0 10px;
}

.position_text p {
  margin: 10px 0 11px 0;
}

#catalog_position {
  display: table;
  position: relative;
  float: left;
  clear: both;
  margin: 33px 0 0 0;
  width: 100%;
  z-index: 1;
}

.catalog_positionbox {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 0 3.5% 50px 0;
  width: 26%;
}

.catalog_position {
  display: table;
  position: relative;
  float: left;
  clear: none;
  width: 100%;
  border: 2px #e0e0e0 solid;
  border-collapse: collapse;
}

.catalog_position_tr {
  display: table-row;
}

.catalog_position_td, .catalog_position_th {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  padding: 0 0 0 10px;
  border-left: 2px #e0e0e0 solid;
  @include box-sizing(border-box);
}

.catalog_position_th {
  height: 50px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#e0e0e0', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #e0e0e0), color-stop(48%, #f2f2f2), color-stop(48%, #f9f9f9), color-stop(100%, #f6f6f6));
  background-image: -webkit-linear-gradient(bottom, #e0e0e0 0%, #f2f2f2 48%, #f9f9f9 48%, #f6f6f6 100%);
  background-image: -moz-linear-gradient(bottom, #e0e0e0 0%, #f2f2f2 48%, #f9f9f9 48%, #f6f6f6 100%);
  background-image: -o-linear-gradient(bottom, #e0e0e0 0%, #f2f2f2 48%, #f9f9f9 48%, #f6f6f6 100%);
  background-image: -ms-linear-gradient(bottom, #e0e0e0 0%, #f2f2f2 48%, #f9f9f9 48%, #f6f6f6 100%);
  background-image: linear-gradient(bottom, #e0e0e0 0%, #f2f2f2 48%, #f9f9f9 48%, #f6f6f6 100%);
  font: 300 18px/18px 'Exo 2', sans-serif;
  color: #010101;
}

.catalog_position_td {
  height: 42px;
  font: 500 16px/16px 'Exo 2', sans-serif;
  color: #000;
  background: #fff;
}

.catalog_position_td.middle_td, .catalog_position_th.middle_th {
  text-align: center;
  padding-left: 0;
}

.catalog_position_td.last_td, .catalog_position_th.last_th {
  vertical-align: top;
  border-right: 0;
}

.catalog_position_add {
  display: table;
  position: relative;
  float: none;
  clear: both;
  margin: 11px auto 0;
  width: 21px;
  height: 22px;
  background: url(/img/buy.png) 0 0 no-repeat;
  cursor: pointer;
}

.catalog_position_add:hover {
  background: url(/img/buy_hover.png) 0 0 no-repeat;
}

.catalog_position_delete {
  display: table;
  position: relative;
  float: none;
  clear: both;
  margin: 13px auto 0;
  width: 14px;
  height: 18px;
  background: url(/img/delete.png) 0 0 no-repeat;
  cursor: pointer;
}

.catalog_option_add {
  text-decoration: underline;
  cursor: pointer;
}

.catalog_option_add:hover {
  color: #f51712;
}

#cont {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

#cont_title {
  position: relative;
  float: left;
  clear: both;
  margin: 47px 0 0 0;
  width: 100%;
}

#cont_title h1 {
  display: block;
  position: relative;
  float: left;
  clear: both;
  font: 18px/28px 'Exo 2', sans-serif;
  color: #000;
}

#cont_title h1 a {
  font: 28px/28px 'Exo 2', sans-serif;
  text-decoration: none;
  color: #000;
}

#cont_title h1 a:hover { text-decoration: none; }

#cont_title h1 span {
  font: 28px/28px 'Exo 2', sans-serif;
  color: #000;
}

#cont_text {
  position: relative;
  float: left;
  clear: both;
  margin: 8px 0 0 0;
  width: 100%;
  font: 300 18px/21px 'Exo 2', sans-serif;
  text-align: justify;
  color: #000;
}

#cont_text a { text-decoration: underline; color: #e52d29; }

#cont_text a:hover { text-decoration: none; }

#cont_text h2 {
  font: 300 24px/24px 'Exo 2', sans-serif;
  color: #000;
}

#cont_text h2 a { text-decoration: none; color: #f10000; }

#cont_text h2 a:hover { text-decoration: none; }

#cont_text ul {
  padding: 0 0 0 10px;
}

#cont_text ul li {
  margin: 0 0 0 10px;
}

#cont_text p {
  margin: 10px 0 11px 0;
}

#cont_text h2 {
  margin: 10px 0 11px 0;
}

#footer {
  display: table;
  position: relative;
  float: none;
  clear: both;
  bottom: 0;
  margin: 62px auto 0;
  max-width: 1920px;
  min-width: 1000px;
  width: 100%;
  height: 67px;
  background: url(/img/footer.png) 0 0 no-repeat;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
}

#footer_left {
  position: relative;
  float: left;
  clear: both;
  margin: 27px 0 0 60px;
  font: 300 16px/16px 'Exo 2', sans-serif;
  color: #fff;
}

#footer_logo {
  display: block;
  position: relative;
  float: right;
  clear: none;
  margin: 21px 62px 0 0;
  width: 32px;
  height: 30px;
  background: url(/img/footer_logo.png) 0 0 no-repeat;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

#footer_logo:hover {
  -webkit-transform: perspective(0px) rotateX(360deg);
  -moz-transform: perspective(0px) rotateX(360deg);
  -ms-transform: perspective(0px) rotateX(360deg);
  -o-transform: perspective(0px) rotateX(360deg);
  transform: perspective(0px) rotateX(360deg);
}

#footer_right {
  position: relative;
  float: right;
  clear: none;
  margin: 18px 17px 0 0;
  text-align: right;
  font: 300 14px/16px 'Exo 2', sans-serif;
  color: #fff;
}

#footer_right a { text-decoration: underline; color: #ffb2b0; }

#footer_right a:hover { text-decoration: none; }

#university_chosen { color: #000; }

#university_chosen.chosen-container .chosen-drop {
  border: 3px #e52d29 solid;
  border-top: 0;
}

#university_chosen.chosen-container-single .chosen-single {
  height: 32px;
  border: 3px #e52d29 solid;
}

#university_chosen.chosen-container-single .chosen-single {
  padding: 0 0 0 5px;
}

#university_chosen.chosen-container-single .chosen-single div {
  width: 31px;
  height: 32px;
  background-color: #e52d29;
  background-image: url(/img/select_arrow.png);
  background-position: 9px 14px;
  background-repeat: no-repeat;
  border: 0;
  border-left: 3px #e52d29 solid;
}

#university_chosen.chosen-container-single .chosen-single div b { background: transparent; }

#university_chosen.chosen-container-active .chosen-single-with-drop { background-color: #fff; }

#university_chosen a.chosen-single:link { color: #000; }

#university_chosen a.chosen-single:visited { color: #000; }

#university_chosen.chosen-container-single .chosen-search input[type="text"] { border: 1px #e5e5e5 solid; }

#university_chosen.chosen-container-multi ul.chosen-choices { border: 1px #e5e5e5 solid; }

#university_chosen.chosen-container-multi .chosen-choices .search-choice { background-color: #fff; }

#university_chosen.chosen-container-single .chosen-default span { color: #c1c1c1 !important; }

#university_chosen.chosen-container-single .chosen-single span {
  margin: 4px 0 0 0;
  float: left;
  font-family: 'Exo 2', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  text-align: left;
  letter-spacing: 0;
}

#gb_click {
  position: relative;
  float: left;
  clear: none;
  margin: -2px 0 0 19px;
  width: 160px;
  height: 38px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fea6a4', endColorstr='#cb0400', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #cb0400), color-stop(50%, #f03e3a), color-stop(53%, #fb5451), color-stop(100%, #fea6a4));
  background-image: -webkit-linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  background-image: -moz-linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  background-image: -o-linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  background-image: -ms-linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  background-image: linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  cursor: pointer;
  font: 18px/18px 'Exo 2', sans-serif;
  text-align: center;
  color: #fff;
}

#gb_click span {
  display: block;
  padding: 10px 0 0 0;
}

.gb_title {
  margin-top: 54px!important;
}

#gb_form {
  display: none;
  position: relative;
  float: left;
  clear: both;
  margin: 10px 0 0 0;
  padding: 7px 18px 16px 14px;
  width: 701px;
  background: #f9f9f9;
  @include box-sizing(border-box);
  border: 2px #dedede solid;
}

.gb_input_title {
  position: relative;
  float: left;
  clear: both;
  padding: 3px 0 0 0;
  width: 146px;
  font: 18px/18px 'Exo 2', sans-serif;
  color: #010101;
}

.gb_input_title span {
  display: block;
}

.gb_input {
  position: relative;
  float: left;
  clear: none;
  width: 519px;
  height: 24px;
}

.gb_input input {
  padding: 0 5px 0 5px;
  width: 100%;
  height: 100%;
  background: #fff;
  @include box-sizing(border-box);
  border: 1px #bcbcbc solid;
  font: 18px 'Exo 2', sans-serif;
  color: #010101;
}

.gb_input input::-moz-placeholder, .gb_input input::-webkit-input-placeholder {
  color: #cccccc;
}

.gb_inputform {
  position: relative;
  float: left;
  clear: both;
  margin: 10px 0 0 0;
  width: 100%;
  
  label {
    position: relative;
    float: left;
    clear: both;
    padding: 3px 0 0 0;
    width: 146px;
    font: 18px/18px 'Exo 2', sans-serif;
    color: #010101 !important;
  }
  
  input {
    padding: 0 5px 0 5px;
    width: 519px;
    height: 24px;
    background: #fff;
    @include box-sizing(border-box);
    border: 1px #bcbcbc solid;
    font: 18px 'Exo 2', sans-serif;
    color: #010101;
    
    @include placeholder() {
      color: #cccccc;
    }
  }
  
  p {
    display: block;
    margin: 0;
    padding: 0 0 0 146px;
    color: #a94442;
  }
}

.gb_textareaform {
  float: left;
  clear: both;
  margin: 10px 0 0 0;
  padding: 0;
  width: 100%;
  
  label {
    position: relative;
    float: left;
    clear: both;
    padding: 3px 0 0 0;
    width: 146px;
    font: 18px/18px 'Exo 2', sans-serif;
    color: #010101 !important;
  }
  
  textarea {
    padding: 0 5px 0 5px;
    width: 519px;
    height: 122px;
    background: #fff;
    @include box-sizing(border-box);
    border: 1px #bcbcbc solid;
    font: 18px 'Exo 2', sans-serif;
    color: #010101;
    resize: none;
    outline: 0;
    
    @include placeholder() {
      color: #cccccc;
    }
  }
  
  p {
    display: block;
    margin: 0;
    padding: 0 0 0 146px;
    color: #a94442;
  }
}

.gb_textarea_title {
  position: relative;
  float: left;
  clear: both;
  width: 146px;
  height: 24px;
  font: 18px/18px 'Exo 2', sans-serif;
  color: #010101;
}

.gb_textarea_title span {
  display: block;
  padding: 3px 0 0 0;
}

.gb_textarea {
  position: relative;
  float: left;
  clear: none;
  width: 519px;
  height: 122px;
}

.gb_textarea textarea {
  padding: 0 5px 0 5px;
  width: 100%;
  height: 100%;
  @include box-sizing(border-box);
  border: 1px #bcbcbc solid;
  font: 18px 'Exo 2', sans-serif;
  color: #010101;
  resize: none;
  outline: 0;
}

.gb_textarea textarea::-moz-placeholder, .gb_textarea textarea::-webkit-input-placeholder {
  color: #cccccc;
}

#gb_send {
  float: left;
  clear: both;
  margin: 12px 0 0 146px;
  width: 180px;
  height: 43px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fea6a4', endColorstr='#cb0400', GradientType=0);
  background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, color-stop(0%, #cb0400), color-stop(50%, #f03e3a), color-stop(53%, #fb5451), color-stop(100%, #fea6a4));
  background-image: -webkit-linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  background-image: -moz-linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  background-image: -o-linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  background-image: -ms-linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  background-image: linear-gradient(bottom, #cb0400 0%, #f03e3a 50%, #fb5451 53%, #fea6a4 100%);
  cursor: pointer;
  font: 18px/18px 'Exo 2', sans-serif;
  text-align: center;
  color: #fff;
}

#gb_send span {
  display: block;
  padding: 12px 0 0 0;
}

#gb_status {
  display: none;
}

#gb_comments {
  position: relative;
  float: left;
  clear: both;
  margin: 22px 0 40px 0;
  width: 100%;
}

.gb_comment {
  position: relative;
  float: left;
  clear: both;
  margin: 37px 0 0 0;
  padding: 10px 15px 18px 15px;
  width: 49%;
  background: #fff;
  @include box-sizing(border-box);
  border: 2px #e52d29 solid;
}

.gb_comment_theme {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  font: 20px/20px 'Exo 2', sans-serif;
  color: #e52d29;
}

.gb_comment_message {
  position: relative;
  float: left;
  clear: both;
  margin: 13px 0 0 0;
  width: 100%;
  font: 16px/19px 'Exo 2', sans-serif;
  color: #010101;
}

.gb_comment_info {
  position: relative;
  float: left;
  clear: both;
  margin: 11px 0 0 0;
  width: 100%;
  font: 16px/16px 'Exo 2', sans-serif;
  color: #e52d29;
}

.gb_comment_stripe {
  position: relative;
  float: left;
  clear: both;
  margin: 22px 0 0 0;
  width: 100%;
  height: 1px;
  background: #ececec;
}

.gb_comment_reply {
  position: relative;
  float: left;
  clear: both;
  margin: 15px 0 0 0;
  width: 100%;
  font: 16px/16px 'Exo 2', sans-serif;
  color: #010101;
}

.gb_comment_reply span {
  color: #e52d29;
}

#solution_searchbox {
  display: table;
  position: relative;
  float: left;
  clear: both;
  margin: 14px 0 0 0;
  width: 100%;
}

#solution_category {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 10px 19px 0 0;
  width: 280px;
}

#solution_category select {
  padding: 0 11px 0 11px;
  border: 3px #e52d29 solid;
  @include box-sizing(border-box);
  width: 250px;
  height: 38px;
  background: #fff;
  font: 300 20px 'Exo 2', sans-serif;
  color: #000;
}

#solution_search {
  position: relative;
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 10px 0 0 0;
  width: 100%;
}

.solution_search {
  position: relative;
  display: table;
  width: 100%;
}

.solution_search_input {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  width: 100%;
}

.solution_search_input input {
  padding: 0 13px 0 13px;
  border: 3px #e52d29 solid;
  @include box-sizing(border-box);
  width: 100%;
  height: 38px;
  background: #fff;
  font: 300 20px 'Exo 2', sans-serif;
  color: #000;
}

.solution_search_input input::-moz-placeholder, .solution_search_input input::-webkit-input-placeholder {
  color: #c1c1c1;
}

.solution_search_icon {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 0 0 0 8px;
}

#solution_search_icon {
  position: relative;
  float: left;
  clear: both;
  width: 56px;
  height: 38px;
  background: url(/img/solution_search.jpg) 0 0 no-repeat;
  cursor: pointer;
}

#solution_text {
  position: relative;
  float: left;
  clear: both;
  margin: 27px 0 0 0;
  width: 100%;
  font: 18px/21px 'Exo 2', sans-serif;
  text-align: justify;
  color: #000;
}

#solution_text a { text-decoration: underline; color: #e52d29; }

#solution_text a:hover { text-decoration: none; }

#solution_text h2 {
  font: 300 24px/24px 'Exo 2', sans-serif;
  color: #000;
}

#solution_text h2 a { text-decoration: none; color: #f10000; }

#solution_text h2 a:hover { text-decoration: none; }

#solution_text ul {
  padding: 0 0 0 10px;
}

#solution_text ul li {
  margin: 0 0 0 10px;
}

#solution_text p {
  margin: 10px 0 11px 0;
}

#solution_text h2 {
  margin: 10px 0 11px 0;
}

#solution_title {
  position: relative;
  float: left;
  clear: both;
  margin: 9px 0 0 0;
  width: 100%;
}

#solution_title h1 {
  display: block;
  position: relative;
  float: left;
  clear: both;
  font: 18px/28px 'Exo 2', sans-serif;
  color: #a5a5a5;
}

#solution_title h1 a {
  font: 18px/28px 'Exo 2', sans-serif;
  text-decoration: underline;
  color: #a5a5a5;
}

#solution_title h1 a:hover { text-decoration: none; }

#solution_title h1 span {
  font: 28px/28px 'Exo 2', sans-serif;
  color: #000;
}

#solution_cat {
  position: relative;
  float: none;
  clear: both;
  padding: 23px 0 0 0;
  width: 1800px;
  -moz-transform: scale(1);
  -moz-transform-origin: left top;
  -o-transform: scale(1);
  -o-transform-origin: left top;
}

.solution_cat {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 16px 24px 0;
  width: 420px;
  height: 271px;
  border: 5px #4c4c4c solid;
  @include box-sizing(content-box);
  text-decoration: none;
  z-index: 1;
}

.solution_cat:hover {
  border: 5px #e52d29 solid;
}

.solution_cat_foto {
  position: relative;
  float: left;
  clear: both;
  width: 420px;
  height: 271px;
  overflow: hidden;
  z-index: 1;
}

.solution_cat_foto img {
  position: absolute;
  max-width: none;
  max-height: none;
  border: 0;
}

.solution_cat_base {
  display: table;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  width: 100%;
  height: 71px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.solution_cat:hover .solution_cat_base {
  background: #e52d29;
}

.solution_cat_base span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font: 300 21px/21px 'Exo 2', sans-serif;
  zoom: 1 !important;
  color: #fff;
}

#solution_order {
  display: table;
  position: relative;
  float: left;
  clear: both;
  margin: 9px 0 0 0;
  width: 100%;
  height: 105px;
  background: url(/img/order_fon.jpg) top center no-repeat;
}

#solution_order > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#solution_order_title {
  display: table;
  position: relative;
  float: none;
  clear: both;
  margin: 0 auto 0;
  font: 36px/36px 'Exo 2', sans-serif;
  text-align: center;
  color: #fff;
}

#solution_order_title a {
  text-decoration: underline;
  color: #fff;
}

#solution_order_title a:hover {
  text-decoration: none;
}

#solution_position {
  position: relative;
  float: left;
  clear: both;
  margin: 33px 0 0 0;
  width: 100%;
  z-index: 1;
}

.solution_position {
  position: relative;
  float: left;
  clear: none;
  height: 198px;
  cursor: pointer;
  z-index: 1;
}

@media screen and (min-width: 1600px) {
  .solution_position {
    margin: 0 3% 62px 0;
    width: 22.5%;
  }
  
  .solution_position:nth-of-type(4n) {
    margin-right: 0 !important;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
  .solution_position {
    margin: 0 2.75% 62px 0;
    width: 31.5%;
  }
  
  .solution_position:nth-of-type(3n) {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: 1199px) {
  .solution_position {
    margin: 0 3% 62px 0;
    width: 48.5%;
  }
  
  .solution_position:nth-of-type(even) {
    margin-right: 0 !important;
  }
}

.solution_position_box {
  display: table;
  width: 100%;
}

.solution_position_fotobox {
  width: 148px;
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.solution_position_foto {
  position: relative;
  float: left;
  clear: both;
  width: 140px;
  height: 188px;
  border: 4px #4c4c4c solid;
  @include box-sizing(content-box);
  overflow: hidden;
  z-index: 1;
}

.solution_position:hover .solution_position_foto {
  border: 4px #e52d29 solid;
}

.solution_position_foto img {
  position: absolute;
  max-width: none;
  max-height: none;
  border: 0;
}

.solution_position_info {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  padding: 0 0 0 23px;
}

.solution_position:hover .solution_position_info {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.solution_position_title {
  position: relative;
  float: left;
  clear: none;
  margin: -4px 0 23px 0;
  width: 100%;
  font: 300 18px/21px 'Exo 2', sans-serif;
  word-wrap: break-word;
  text-decoration: none;
  color: #000;
}

.solution_position:hover .solution_position_title {
  text-decoration: underline;
  color: #e52d29;
}

.solution_position_desc {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

.solution_position_value {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  font: 300 16px/19px 'Exo 2', sans-serif;
  color: #545454;
}

.solution_position_value > div:nth-of-type(1) {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  width: 59px;
  color: #000;
}

.solution_position_value > div:nth-of-type(1) {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.solution_pos {
  display: none;
  position: absolute;
  padding: 11px 14px 9px 8px;
  border: 1px #000 solid;
  @include box-sizing(border-box);
  width: 630px;
  height: 420px;
  background: #fff;
  z-index: 2;
  zoom: 1 !important;
}

.solution_pos_foto {
  position: relative;
  float: left;
  clear: both;
  width: 283px;
  height: 388px;
  border: 5px #525252 solid;
  overflow: hidden;
}

.solution_pos_foto img {
  position: absolute;
  max-width: none;
  max-height: none;
  border: 0;
}

.solution_pos_info {
  position: relative;
  float: right;
  clear: none;
  margin: -2px 0 0 0;
  width: 297px;
}

.solution_pos_title {
  position: relative;
  float: left;
  clear: none;
  margin: 0 0 21px 0;
  width: 100%;
  font: 300 18px/21px 'Exo 2', sans-serif;
  color: #000;
}

.solution_pos_desc {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
}

.solution_pos_value {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  font: 300 16px/19px 'Exo 2', sans-serif;
  color: #545454;
}

.solution_pos_value > div:nth-of-type(1) {
  display: table-cell;
  vertical-align: top;
  text-align: left;
  width: 59px;
  color: #000;
}

.solution_pos_value > div:nth-of-type(2) {
  display: table-cell;
  vertical-align: top;
  text-align: left;
}

.solution_pos_text {
  position: relative;
  float: left;
  clear: both;
  margin: 36px 0 0 0;
  font: 300 16px/19px 'Exo 2', sans-serif;
  color: #545454;
  text-align: justify;
}

.solution_pos_text {
  position: relative;
  float: left;
  clear: both;
  margin: 36px 0 0 0;
  font: 300 16px/19px 'Exo 2', sans-serif;
  color: #545454;
  text-align: justify;
}

.solution_pos_text a { text-decoration: underline; color: #e52d29; }

.solution_pos_text a:hover { text-decoration: none; }

.solution_pos_text ul, .solution_pos_text ol {
  padding: 0 0 0 10px;
}

.solution_pos_text ul li, .solution_pos_text ol li {
  margin: 0 0 0 10px;
}

.solution_pos_text p {
  margin: 10px 0 11px 0;
}

#cat_chosen {
  @extend .chosen_template;
}

//#cat_chosen { color: #000; }
//
//#cat_chosen.chosen-container .chosen-drop {
//  border: 3px #e52d29 solid;
//  border-top: 0;
//  box-shadow: none;
//  }
//
//#cat_chosen.chosen-container .chosen-results li.highlighted {
//  background-image: none;
//  }
//
//#cat_chosen.chosen-container-active.chosen-with-drop .chosen-single {
//  background-image: none;
//  box-shadow: none;
//  }
//
//#cat_chosen.chosen-container-active .chosen-choices {
//  box-shadow: none;
//  }
//
//#cat_chosen.chosen-container-single .chosen-single {
//  padding: 0 0 0 5px;
//  height: 38px;
//  border: 3px #e52d29 solid;
//  border-radius: 0;
//  box-shadow: none;
//  background-image: none;
//  }
//
//#cat_chosen.chosen-container-single .chosen-search input[type="text"] {
//  background-image: none;
//  }
//
//#cat_chosen.chosen-container-single .chosen-drop {
//  border-radius: 0;
//  }
//
//#cat_chosen.chosen-container-single .chosen-single div {
//  width: 34px;
//  height: 32px;
//  background-color: #e52d29;
//  background-image: url(/img/select_arrow.png);
//  background-position: 9px 14px;
//  background-repeat: no-repeat;
//  border: 0;
//  border-left: 3px #e52d29 solid;
//  }
//
//#cat_chosen.chosen-container-single .chosen-single div b { background: transparent; }
//
//#cat_chosen.chosen-container-active .chosen-single-with-drop { background-color: #fff; }
//
//#cat_chosen a.chosen-single:link { color: #000; }
//
//#cat_chosen a.chosen-single:visited { color: #000; }
//
//#cat_chosen.chosen-container-single .chosen-search input[type="text"] { border: 1px #e5e5e5 solid; }
//
//#cat_chosen.chosen-container-multi ul.chosen-choices { border: 1px #e5e5e5 solid; }
//
//#cat_chosen.chosen-container-multi .chosen-choices .search-choice { background-color: #fff; }
//
//#cat_chosen.chosen-container-single .chosen-default span { color: #c1c1c1 !important; }
//
//#cat_chosen.chosen-container-single .chosen-single span {
//  margin: 4px 0 0 0;
//  float: left;
//  font-family: 'Exo 2', sans-serif;
//  font-style: normal;
//  font-weight: normal;
//  font-size: 20px;
//  line-height: 24px;
//  color: #000;
//  text-align: left;
//  letter-spacing: 0;
//  }

#order {
  position: relative;
  float: left;
  clear: both;
  margin: 26px 0 31px 0;
  width: 100%;
}

#order_text {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  font: 18px/21px 'Exo 2', sans-serif;
  text-align: justify;
  color: #000;
  
  a {
    text-decoration: underline;
    color: #e52d29;
    
    &:hover {
      text-decoration: none;
    }
  }
  
  h2 {
    margin: 10px 0 11px 0;
    font: 300 24px/24px 'Exo 2', sans-serif;
    color: #000;
    
    a {
      text-decoration: none;
      color: #f10000;
      
      &:hover {
        text-decoration: none;
      }
    }
    
  }
  
  ul {
    padding: 0 0 0 10px;
    
    li {
      margin: 0 0 0 10px;
    }
  }
  
  p {
    margin: 10px 0 11px 0;
  }
}

#order_descr {
  position: relative;
  float: left;
  clear: both;
  margin: 13px 0 0 -60px;
  padding: 25px 60px 38px 60px;
  width: 100%;
  min-height: 393px;
  background: url(/img/order_descr.jpg) 0 0 repeat;
  @include box-sizing(content-box);
}

#order_descr_title {
  display: table;
  position: relative;
  float: none;
  clear: both;
  margin: 0 auto 0;
  font: 28px/28px 'Exo 2', sans-serif;
  text-align: center;
  color: #000;
}

#order_descr_info {
  position: relative;
  float: none;
  clear: both;
  margin: 31px auto 0;
  max-width: 1256px;
  min-width: 880px;
}

.order_descr_info {
  display: table;
  position: relative;
  width: 41.32%;
  min-height: 271px;
  background: #f0f0f0;
  
  &:nth-of-type(1) {
    float: left;
    clear: both;
  }
  
  &:nth-of-type(2) {
    float: right;
    clear: none;
  }
  
  > div {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    border: 2px #ee261f solid;
  }
}

.order_descr_title {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  height: 46px;
  background: #ee261f;
  
  > div {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding: 11px 0 0 0;
    font: 22px/22px 'Exo 2', sans-serif;
    color: #fff;
  }
}

.order_descr_text {
  display: table;
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  
  > div {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    padding: 14px 10px 14px 10px;
    font: 300 18px/21px 'Exo 2', sans-serif;
    color: #090909;
  }
  
  a { text-decoration: underline; color: #e52d29; }
  
  a:hover { text-decoration: none; }
  
  h2 {
    margin: 0;
    font: 300 24px/24px 'Exo 2', sans-serif;
    color: #000;
    
    a {
      text-decoration: none;
      color: #f10000;
      &:hover {
        text-decoration: none;
      }
    }
  }
  
  ul {
    padding: 0 0 0 10px;
    
    li {
      margin: 0 0 0 10px;
    }
  }
  
  p {
    margin: 0;
  }
}

#order_submit {
  position: relative;
  float: left;
  clear: both;
  margin: 26px 0 0 0;
  padding: 19px 25px 21px 25px;
  background: #ed201c;
  font: 26px/26px 'Exo 2', sans-serif;
  color: #fff;
  cursor: pointer;
  
  &:hover {
    background: #f95d5a;
  }
}

.container_alert {
  margin-top: 10px;
  width: 100%;
  clear: both;
  
  .alert {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}