@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic&subset=latin,cyrillic-ext);
@import url(//fonts.googleapis.com/css?family=Exo+2:300,300italic,400,400italic,500&subset=latin,cyrillic);
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.button {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5); }

.img-relative {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 0; }

.img-absolute {
  position: absolute;
  max-width: none;
  max-height: none;
  border: 0; }

#reversebox {
  display: table;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 452px;
  z-index: 4000; }

#boxreverse {
  position: relative;
  float: left;
  clear: both;
  padding: 17px 12px 19px 12px;
  width: 452px;
  box-sizing: border-box;
  border: 5px #cf0000 solid;
  background: #fff; }

#reversetitle {
  position: relative;
  float: left;
  clear: both;
  margin: 0 0 0 0;
  width: 100%;
  font: 300 36px/36px 'Ubuntu', sans-serif;
  color: #0a2238; }

#reversedesc {
  position: relative;
  float: left;
  clear: both;
  margin: 20px 0 0 0;
  width: 100%;
  font: 300 16px/20px 'Ubuntu', sans-serif;
  color: #0a2238; }

#reverseinfo {
  position: relative;
  float: left;
  clear: both;
  margin: 5px 0 0 0;
  padding: 0;
  width: 100%; }

.reverse_input {
  position: relative;
  float: left;
  clear: both;
  margin: 13px 0 0 0;
  padding: 0;
  width: 100%; }
  .reverse_input input {
    padding: 0 8px 0 8px;
    width: 100%;
    height: 44px;
    border: 1px #626262 solid;
    box-sizing: border-box;
    background: #fff;
    font: 300 18px 'Ubuntu', sans-serif;
    color: #0a2238; }
    .reverse_input input::-webkit-input-placeholder {
      color: #b8b8b8; }
    .reverse_input input:-moz-placeholder {
      color: #b8b8b8; }
    .reverse_input input::-moz-placeholder {
      color: #b8b8b8; }
    .reverse_input input:-ms-input-placeholder {
      color: #b8b8b8; }
  .reverse_input p {
    display: block;
    margin: 0;
    color: #a94442; }

.reverse_textarea {
  position: relative;
  float: left;
  clear: both;
  margin: 13px 0 0 0;
  padding: 0;
  width: 100%; }
  .reverse_textarea textarea {
    padding: 4px 8px 4px 8px;
    width: 100%;
    height: 154px;
    box-sizing: border-box;
    border: 1px #626262 solid;
    background: #fff;
    resize: none;
    font: 300 18px 'Ubuntu', sans-serif;
    color: #0a2238; }
    .reverse_textarea textarea::-webkit-input-placeholder {
      color: #b8b8b8; }
    .reverse_textarea textarea:-moz-placeholder {
      color: #b8b8b8; }
    .reverse_textarea textarea::-moz-placeholder {
      color: #b8b8b8; }
    .reverse_textarea textarea:-ms-input-placeholder {
      color: #b8b8b8; }
  .reverse_textarea p {
    display: block;
    margin: 0;
    color: #a94442; }

#reverse_close {
  position: absolute;
  top: -32px;
  right: 0;
  width: 41px;
  height: 33px;
  z-index: 10000;
  background: url(/img/form_close.jpg) 0 0 no-repeat; }

#reverse_close:hover {
  cursor: pointer; }

#reverse_status {
  display: none; }

#reverse_status span {
  display: table-cell;
  vertical-align: middle;
  text-align: left; }

#reverse_enter {
  position: relative;
  float: right;
  clear: none;
  margin: 21px 0 0 0;
  padding: 0;
  width: 214px;
  height: 39px;
  background: #cf0000;
  cursor: pointer;
  font: 300 18px/18px 'Ubuntu', sans-serif;
  color: #feffff;
  text-align: center; }

#reverse_enter span {
  display: block;
  padding: 10px 0 0 0; }

#reverse_enter:hover {
  background: #000; }

#reverse_file {
  position: relative;
  float: left;
  clear: both;
  margin: 21px 0 0 0;
  width: 200px;
  font: 14px/14px 'Ubuntu', sans-serif;
  color: #000; }
  #reverse_file button {
    position: relative;
    float: left;
    clear: both;
    padding: 1px 0 0 0;
    width: 152px;
    height: 32px;
    background: #fff;
    border: 2px #000 solid;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;
    color: #000; }
    #reverse_file button:hover {
      background: #000;
      color: #fff; }
  #reverse_file > div {
    position: relative;
    float: left;
    clear: both;
    margin: 8px 0 0 0; }
    #reverse_file > div .reverse_file {
      float: left;
      clear: both; }
      #reverse_file > div .reverse_file:nth-of-type(n+2) {
        margin: 10px 0 0 0; }
    #reverse_file > div .reverse_file_name {
      position: relative;
      float: left;
      clear: both;
      height: 14px;
      font: italic 12px/14px 'Ubuntu', sans-serif;
      text-decoration: underline;
      color: #000;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
    #reverse_file > div .reverse_file_remove {
      position: relative;
      float: left;
      clear: none;
      margin: 2px 0 0 6px;
      width: 13px;
      height: 13px;
      background: url(/img/order_remove.jpg) 0 0 no-repeat;
      cursor: pointer; }
  #reverse_file input[type=file] {
    position: absolute;
    top: 0;
    visibility: hidden; }
  #reverse_file p {
    display: block;
    position: relative;
    float: left;
    clear: both;
    margin: 0;
    color: #a94442; }

#reversebox .form-captcha {
  background-image: none;
  width: 304px; }
