@import url(//fonts.googleapis.com/css?family=Ubuntu:300,400,300italic,400italic&subset=latin,cyrillic-ext);
@import url(//fonts.googleapis.com/css?family=Exo+2:300,300italic,400,400italic,500&subset=latin,cyrillic);
.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.button {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.5); }

.img-relative {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border: 0; }

.img-absolute {
  position: absolute;
  max-width: none;
  max-height: none;
  border: 0; }

#success_box {
  display: table;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 509px;
  z-index: 4000; }

.success_box {
  position: relative;
  float: left;
  clear: both;
  padding: 19px 13px 18px 13px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 483px;
  border: 5px #e52d29 solid;
  background: #fff; }

#success_title {
  position: relative;
  float: left;
  clear: both;
  width: 100%;
  font: 300 30px/30px 'Exo 2', sans-serif;
  color: #0a2238; }

#success_info {
  position: relative;
  float: left;
  clear: both;
  margin: 21px 0 0 0;
  width: 100%;
  font: 300 16px/20px 'Exo 2', sans-serif;
  text-align: justify;
  color: #0a2238; }

#success_info a {
  text-decoration: underline;
  color: #e52d29; }

#success_info a:hover {
  text-decoration: none; }

#success_info p {
  margin: 0;
  padding: 0; }

#success_close {
  position: absolute;
  top: -32px;
  right: 0;
  width: 41px;
  height: 33px;
  z-index: 10000;
  background: url(/img/form_close.jpg) 0 0 no-repeat;
  cursor: pointer; }

#success_enter {
  position: relative;
  float: right;
  clear: both;
  margin: 42px 0 0 0;
  width: 160px;
  height: 36px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ee245', endColorstr='#0f9a07', GradientType=0);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #0f9a07), color-stop(100%, #4ee245));
  background: -webkit-linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  background: -moz-linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  background: -o-linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  background: -ms-linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  background: linear-gradient(bottom, #0f9a07 0%, #4ee245 100%);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  font: 14px/14px 'Exo 2', sans-serif;
  color: #fff;
  text-align: center;
  cursor: pointer; }

#success_enter:hover {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f9a07', endColorstr='#4ee245', GradientType=0);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #4ee245), color-stop(100%, #0f9a07));
  background: -webkit-linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
  background: -moz-linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
  background: -o-linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
  background: -ms-linear-gradient(bottom, #4ee245 0%, #0f9a07 100%);
  background: linear-gradient(bottom, #4ee245 0%, #0f9a07 100%); }

#success_enter span {
  display: block;
  padding: 12px 0 0 0; }

#success_status {
  display: none; }
